[2017-12-11 16:04] elbruno opened #1 "NuGet packages are missing"
Hi

There seems to be an issue with the NuGet packages, none of them are available in NuGet. The search [Microsoft.Quantum] returns zero results >> https://www.nuget.org/packages?q=Microsoft.Quantum

Regards
-Bruno

[2017-12-11 16:38] manuelelucchi opened #2 "Questions about the future"
The Quantum Dev Kit is great and the tutorial are well done, but i have a few question about the future:
1) Will it be available on Linux or Mac OS in the future?
2) Will it be usable even without Visual Studio (ex: with a normal text editor)?
3) Would the Q# assembly be invoked also from other languages like C++?

I hope the Microsoft Quantum Project will group up even more!
Regards
Manuele

[2017-12-11 18:54] #1 closed

[2017-12-11 19:33] anpaz-msft commented on #1
Looks like you beat me to this. The packages albeit available, were indeed not searchable while we were ironing out some kinks. They are now mark as searchable so they should start appearing on search results soon.
Thanks!

[2017-12-11 23:06] StLange opened #6 "Q# to C# compiler generates wrong decimal point on non-english computers"
Compilation fails on my German computer, because the generated C# code contains ',' instead of '.' as decimal separator. Switching Windows to English number format fixes the issue.
That means there is at least one double to string conversion in the Q# compiler that misses CultureInfo.InvariantCulture and uses regional number format (German uses comma as decimal point).

[2017-12-12 06:17] akmittal opened #8 "Link to style guide is broken in Docs Readme"

[2017-12-12 12:40] helpsterTee commented on #6
Confirming this issue. Even the Microsoft.Quantum.Canon library is not compilable from the "Installing and Validating the Q# Development Environment" tutorial in the documentation.

Errors thrown:
![Compilation errors](https://i.imgur.com/HWYawmN.png)

Fixable by @StLange 's supposed workaround.

[2017-12-12 13:01] quixoticaxis commented on #6
Confirming the  issue, haven't tried the workaround yet.
Everything is filled with comma-delimited values on Windows 10 with Russian locale.

[2017-12-12 21:02] alan-geller commented on #6
I can confirm that this is indeed a bug. Thanks for reporting it!!
I've created a bug in our tracking database and we'll evaluate it for a future update. In the meantime, setting Windows to use US number format should fix the issue.

[2017-12-12 21:11] alan-geller commented on #6
Closing here; will track this at https://quantum.uservoice.com/forums/906097-general-ideas-and-feature-requests/suggestions/32603518-q-compiler-fails-with-decimal-separator-other-tha.

[2017-12-12 21:11] #6 closed

[2017-12-12 22:26] ArtisanDuCode opened #10 "File Microsoft.Quantum.Canon.nuspec is missing"
The file Microsoft.Quantum.Canon.nuspec is missing in the project Microsoft.Quantum.Canon.
there is the file Microsoft.Quantum.Canon.nuspec.v.template that is not included in the project Microsoft.Quantum.Canon.
![filemissing](https://user-images.githubusercontent.com/25029876/33911828-e1763444-df93-11e7-879d-8798b0f384ac.PNG)

[2017-12-13 08:52] setagana opened #11 "Build errors in Quantum Canon"
I'm trying to run the TeleportationSample and am receiving build errors in quantum canon with the current build.

**IDE**
VS 2017 CE (15.4.4) with Universal Windows Platform development and .NET desktop development tools installed.

**Steps so far**
Cloned repo with Team Explorer
Opened the solution and installed F# and other dependencies
Manual check that NuGet packages have been restored
Set Tel

[2017-12-13 10:31] Rnijland commented on #11
Experiencing exactly the same.  Did the same steps as setagana.

The tutorials with the Bellstate worked perfectly though

[2017-12-13 10:37] pedromundo commented on #11
This is apparently a goof in the q# to c# compiler -- check Closed issue #6 for possible fix (which is: change system number format to English)

[2017-12-13 10:55] setagana commented on #11
Thanks @pedromundo - I thought I'd checked the closed issues before raising this. Will close it as a known bug.

[2017-12-13 10:57] pedromundo commented on #11
In a way, I think this should remain open until actually fixed,  because
that's where most people look.

Em qua, 13 de dez de 2017 07:55, setagana <notifications@github.com>
escreveu:

--

~Pedro R.

Master's Student, Software Developer, Technologist.

[2017-12-13 11:01] Rnijland commented on #11
Thank you pedromundo!

Worked like a charm. Thank you!

I Agree it should be open until actually fixed. Pretty sure people will look over the Closed issues like i did!

[2017-12-13 14:23] ChennyBaBy opened #12 "Build status dead link"
Build status in readme is a dead link

[2017-12-13 17:32] vitalych opened #13 "Solution does not build"
[code]
Comma instead of dot in generated code:
![image](https://user-images.githubusercontent.com/2332715/33953053-04682c3c-e034-11e7-9ae0-9a75fb7d0a59.png)

[2017-12-13 17:44] vitalych commented on #13
Duplicate of https://github.com/Microsoft/Quantum/issues/11

[2017-12-13 17:44] #13 closed

[2017-12-13 19:00] micromax opened #14 "MacOS instaa"

[2017-12-13 19:01] #14 closed

[2017-12-13 19:04] micromax opened #15 "MacOS issues"
i can't install QsharpVSIX.vsix file in my Env or it will work only for windows OS

[2017-12-13 19:56] rafidka opened #16 "Can I use Quantum Development Kit with Visual Studio Code"
Is there anyway to use QDK with VSC?

[2017-12-13 20:49] anpaz-msft commented on #15
Currently, only Visual Studio (Community / Pro / Enterprise) are supported. Mac and Visual Studio Code support are on our interest list, though, and under investigation for future support.

We are tracking this at uservoice:
https://quantum.uservoice.com/forums/906943-setup-and-visual-studio-integration/suggestions/32588963-visual-studio-for-mac-support

Feel free to leave your comments or votes t

[2017-12-13 20:50] anpaz-msft commented on #16
Currently, only Visual Studio (Community / Pro / Enterprise) are supported. Mac and Visual Studio Code support are on our interest list, though, and under investigation for future support.

We are tracking this at uservoice:
https://quantum.uservoice.com/forums/906943-setup-and-visual-studio-integration/suggestions/32588963-visual-studio-for-mac-support

Feel free to leave your comments or votes t

[2017-12-13 20:51] anpaz-msft commented on #12
Thanks for reporting this. We changed to a new build definition without updating the README.md
It's now fixed.

[2017-12-13 20:51] #12 closed

[2017-12-13 20:52] anpaz-msft commented on #2
Currently, only Visual Studio (Community / Pro / Enterprise) are supported. Mac and Visual Studio Code support are on our interest list, though, and under investigation for future support.

We are tracking this at uservoice:
https://quantum.uservoice.com/forums/906943-setup-and-visual-studio-integration/suggestions/32588963-visual-studio-for-mac-support

Feel free to leave your comments or votes t

[2017-12-13 20:52] #2 closed

[2017-12-13 20:56] anpaz-msft commented on #11
I'm reopening this to help people finding the solution to this problem.

However, please notice that we are keeping track of all the Quantum Development Kit feedback at uservoice. In particular, this issue is reported here:
https://quantum.uservoice.com/forums/906097-general-ideas-and-feature-requests/suggestions/32603518-q-compiler-fails-with-decimal-separator-other-tha

Feel free to vote or leav

[2017-12-14 05:22] Arcani commented on #10
I am having issues running the TeleportationSample project, and see the same file missing on my solution explorer.  I also did not see the file in the repo either (https://github.com/Microsoft/Quantum/tree/master/Microsoft.Quantum.Canon)

[2017-12-14 13:20] ChennyBaBy commented on #12
I have a question outside of this Issue, its about the "VSTS: Libraries github" in part of the Pull Request  pending checks. It's seems to be stuck on waiting for a while for all things that's been Queued up. I was wondering if it's broken or just takes a long time for it to come back.

[2017-12-14 17:03] rafidka commented on #16
Thanks, @anpaz-msft . I posted a comment regarding Visual Studio Code. Should I close this? Or perhaps leave it for sometime for others to see it and up-vote the link you sent?

[2017-12-14 19:48] kasper3 commented on #11
If a sample is not compiling is it still upstream issue? I don't think it belongs to UserVoice otherwise what's the point of enabling this issue tracker when it's disableable https://help.github.com/articles/disabling-issues/? 😅

[2017-12-15 22:58] EnginSahinCE opened #17 "BellTest does not exist"
When I try to run the example in "Creating a Bell State in Q #" I get the following errors and it is not compiled. (Framework 4.6.1, Platform target: x64)

`1>------ Build started: Project: Bell, Configuration: Debug x64 ------
1>C:\Users\engin\source\repos\Bell\Bell\Driver.cs(16,31,16,39): error CS0103: The name 'BellTest' does not exist in the current context
1>C:\Users\engin\source\repos\Bell\B

[2017-12-15 23:37] anpaz-msft commented on #17
Seems like a problem with the c# compiler having problem with ValueTuples.

Are you using VS2017? Was the ValueTuple package correctly installed? Do you know which version of the C# compiler you are using?

[2017-12-16 01:14] crazy4pi314 opened #18 "difference between VS template and docs"
I was just walking through the tutorial from this [doc page](https://docs.microsoft.com/en-ca/quantum/quantum-writeaquantumprogram?view=qsharp-preview) and I find that the VS solution file `Operation.qs` (that we rename to Bell.qs) has one extra line.
- Snippet from the docs
[code]

- What VS generated in `Operation.qs`
[code]

It still works just fine, just noting the mismatch in the docs and the

[2017-12-16 02:51] leeli73 opened #19 "Reference to unknown namespace Microsoft.Quantum.Primitive"
I set up a QSharpTestProject,but I can't run it.
There are my problems.

error 	Reference to unknown namespace Microsoft.Quantum.Primitive	QSharpTestProject1

error		The namespace body is invalid

And I set Windows to use US number,but it can't run.

[2017-12-16 06:42] EnginSahinCE commented on #17
I use VS2017 ent. I installed Microsoft.quantum.canon, ms.quantum.dev.kit and System.ValueTuple (v4.4.0). i don't know version of the c# compiler, how can i learn this?

[2017-12-16 14:05] EnginSahinCE commented on #17
the problem is "C# code contains ',' instead of '.' as decimal separator" issue#6. I changed english(american)  and the problem is solved, it is compiling now.

[2017-12-16 14:05] #17 closed

[2017-12-20 10:37] MovGP0 opened #22 "Use Roslynator to clean up C# code"
The C# code could use some cleanup. I'd recommend to add the `Roslynator.Analyzers` and `Roslynator.CodeFixes` Nuget packages in order to clean up the code.

https://www.nuget.org/packages?q=Roslynator

[2017-12-25 13:28] EnginSahinCE opened #24 "Define any own gate as Liqui|>"
We could define our own gates at the Liqui|> library (for example as follows). Can we define our gates at MS Quantum Dev Kit?  If we can define it, how do we define it  at MS Quantum Dev Kit?

`any gate (as defined with any CSMat)

    let GT (qs:Qubits) =
        let gate =
            new Gate(
               Name = "GT",
                Help = "GT",
                Mat = CSMat(2,[0,0,1.,0.;0,1,

[2017-12-30 11:43] buhtig314 opened #26 "entanglement?"
in the teleportation sample, cnot(msg,here) followed by h(msg). my question is why a h gate could be applied to single bit msg, since msg & here are in entanglement state, i.e. they are unseperatable . am i missed anything?

[2018-01-10 09:45] KaptenDavidsson commented on #19
Got the same error. Make sure you use .NET Framework 4.6.1, it solved it for me.

[2018-01-10 19:54] tcNickolas commented on #26
Entanglement means that the qubits' states cannot be described separately. The qubits themselves are still separate entities and can have single-qubit gates applied to them individually (or the can have multi-qubit gates applied to one of the entangled qubits and some other qubits). Gates applied to one of the entangled qubits will impact the joint state of both qubits.

[2018-01-11 14:04] buhtig314 commented on #26
Thanks, i have got the answer after some further study.

[2018-01-11 15:51] #26 closed

[2018-01-18 22:06] tcNickolas commented on #18
We have updated the docs to match VS template. Thank you for pointing this out!

[2018-01-20 16:18] qubeat opened #29 "Possible IsingGeneratorSample extensions"
1) The function HeisenbergXXZGeneratorSystem uses Hamiltonian with 1/2 multiplier for ZZ term.
I am thinking to adapt the code to consideration of perfect state transfer model there two basic
examples of Hamiltonian are very similar: the first one simply drops the ZZ term,
the second one has unit multiplier for ZZ term. Maybe it would be better to use the function
with extra parameter instead of d

[2018-02-04 06:31] AceHack opened #30 "Consider supporting TensorFlow/CNTK"
Please consider providing a runtime to TensofFlow/CNTK

See TensorFlow repo issue here
https://github.com/tensorflow/tensorflow/issues/16745

See CNTK repo issue here
https://github.com/Microsoft/CNTK/issues/2918

[2018-02-27 00:38] alan-geller commented on #15
We have released a version of the development kit that works on Mac. See https://docs.microsoft.com/quantum/quantum-installconfig for installation instructions and links.

[2018-02-27 00:38] #15 closed

[2018-02-27 00:39] alan-geller commented on #16
We have released a version of the development kit that works with Visual Studio Code. See https://docs.microsoft.com/quantum/quantum-installconfig for links and installation instructions.

[2018-02-27 00:39] #16 closed

[2018-02-27 21:54] alan-geller commented on #8
Fixed in #3

[2018-02-27 21:54] #8 closed

[2018-03-17 16:46] StefH opened #37 "UnitTests: TeleportationIdentityTestHelper is missing Reset() ?"
When running the unit-tests for **Teleportation**, I get this error:

Solution is to add a `ResetAll(anc);` statement at line
https://github.com/Microsoft/Quantum/blob/master/Samples/UnitTesting/TeleportationTests.qs#L19

[2018-03-19 15:36] #18 closed

[2018-03-19 15:37] #30 closed

[2018-03-19 15:38] alan-geller commented on #30
Sorry, this isn't in our road map.
How would you use TensorFlow and Q# together?

[2018-03-19 16:12] anpaz-msft commented on #37
Hi StefH,

The test as-is today should be working ok.
Inside the Teleporation method, we measure and reset the `source` qubit: https://github.com/Microsoft/Quantum/blob/bf27332e45a55b29db41f20b0bd9d466497ceb17/Samples/UnitTesting/Teleportation.qs#L71
so the `SWAP` should be taking it back to a `Zero` state, so `ResetAll` should not be needed.

Are you seeing instances where this is not the case?

[2018-03-19 18:54] StefH commented on #37
Actually I wonder if this specific test is included in the test-run ? Which C# file starts this test ?

[2018-03-19 19:34] anpaz-msft commented on #37
Yes, it is. This one, as most of other Q# tests from this project are discovered and executed by the `SimulatorTestTargets`:
https://github.com/Microsoft/Quantum/blob/bf27332e45a55b29db41f20b0bd9d466497ceb17/Samples/UnitTesting/QuantumSimulatorTestTargets.cs#L36

[2018-03-19 20:15] AceHack commented on #30
Running tensor flow on a quantum computer/simulator

[2018-04-10 09:39] ThiagoMS3 opened #42 "Grover search sample code idles for 11 or more database qubits"
Hello,

I'm playing around with the Q# code samples, and I'm having some idle processor problems when increasing the database size in the DatabaseSearch case - most visibly with 11 database qubits or more.

In the DatabaseSearch case, a profiler indicates that more than 85% of the time is used by wait functions  (see figure below). The memory usage also oscillates quite a bit. This doesn't happen

[2018-04-17 12:45] wengrs opened #44 "User-defined quantum gate in Q#"
User-defined quantum gate is important in research. But Q# no support it.

[2018-04-17 19:38] cryptosidh opened #45 "Build errors and failing NuGet package restore"
Visual Studio Enterprise 2017, Version 15.6.6
.NET Framework, Version 4.7.02556
.NET Core SDK, Version 2.1.104
Quantum Development Kit, Version 0.2.1802.2202-preview

I was following the instructions on
https://docs.microsoft.com/en-us/quantum/quantum-installconfig?view=qsharp-preview&tabs=tabid-vs2017

The teleportation example runs correctly.

Trying to run all tests, I attempted a rebuild which

[2018-04-19 19:51] cryptosidh commented on #45
That fixed it. Thanks!

[2018-04-19 19:51] #45 closed

[2018-04-19 20:15] jhenshaw commented on #42
Hi @ThiagoMS3, there are a pretty broad spectrum of things that could contribute to this, and with only taskmgr output, it'll be impossible for us to begin debugging on our end. If you could distill this down to a reproducible sample project, and drop it on http://quantum.uservoice.com (our support channel), we could have a look at it.  Thanks. -jeff  cc: @martinquantum

[2018-04-19 20:17] #19 closed

[2018-04-19 20:17] #11 closed

[2018-04-19 20:18] #10 closed

[2018-04-19 23:13] martinquantum commented on #44
Thanks for your question. By design, Q# does not support the concept of user defined gates, say from the matrix coefficients of a unitary gate. The intent is to provide a set of primitive gates in the standard library which are then implemented by the underlying abstract machine. All other operations have to be expressed in terms of these primitive gates (or of course in terms of other library fun

[2018-04-19 23:13] #44 closed

[2018-04-19 23:13] martinquantum commented on #24
Thanks for your question. By design, Q# does not support the concept of user defined gates, say from the matrix coefficients of a unitary gate. The intent is to provide a set of primitive gates in the standard library which are then implemented by the underlying abstract machine. All other operations have to be expressed in terms of these primitive gates (or of course in terms of other library fun

[2018-04-19 23:13] #24 closed

[2018-04-20 17:02] qubeat commented on #29
Thank you, Martin. I suppose, it may have additional interest due to possible relation of the mentioned models with Majorana nodes...

[2018-04-21 11:15] aviralwal opened #48 "Q# compilation fails if user name contains a blank space"
I am trying to run the  `TeleportationSample` in `Samples > 0.Introduction folder` of `QsharpLibraries` solution. After setting the project as `Startup project`, I perform the build operation `F5`. But the build fails with error as :-
[code]
This might be the issue of `dotnet` CLI unable to reach the complete path as the correct path is `C:/Users/test user/...`(the path that follows) but it reads

[2018-04-23 13:10] ThiagoMS3 commented on #42
Hello!

   Thanks for the response. I've checked the code with VS 2017's profiler (before I was using Visual Studio Code, hence the Very Sleepy CS output), and I think that I've found the origin of the wait times. The figure below shows the profiling of an iteration of the Grover algorithm present in the `Samples` folder (with manual reflections), with breakpoints before each primitive operation:

[2018-04-24 10:18] klenium opened #50 "Why is the Deutsch-Jozsa sample uses 0 for constant function?"
The operation in Deutsch-Jozsa sample uses `return ForAll(IsResultZero, resultArray);`, and this operation's result is true when the function is constant. However, in every other literature they say if we measure 1 or -1, then the function is constant, and if 0, then it's balanced.

[2018-04-26 06:57] wengrs commented on #44
Thanks

[2018-04-28 23:42] liukui17 opened #51 "Rotation should fail when the angle is NaN"
Dear Microsoft Q# Developers and Researchers,

I just attended a workshop today at the University of Washington and got a chance to work through the Superposition Tutorial in Quantum-Katas. I was working on Task 9 and 10, and attempted to run some recursive code that is nonsensical in retrospect but somehow managed to pass the test cases:

[code]

The most nonsensical part is that there is an off-

[2018-04-30 20:32] vtomole opened #52 "Add multi-line comments into the language"
Right now, comments begin with forward slashes `//`. I propose that you add multi-line comments `/* */` as they don't clutter a code base with multiple `//` on different lines for one comment. For documentation comments, how about adopting the doc-string implementation of Python? For example,

[code]

Looking forward to your feedback on this proposal.

[2018-04-30 21:53] cgranade commented on #51
Thanks for the report! We'll look into this and figure out why `Ry(ArcCos(1.0 / 0.0))` works, when I agree it really shouldn't. In the meantime, I've removed some of the code from your report so as to not spoil the fun for others going through the same tutorials; sorry for the hassle!

[2018-05-24 18:22] tcNickolas commented on #50
You have to distinguish the amplitude of a certain state and the result of measuring that state.

Let's refer to the description in Nielsen and Chuang ([pages 34-36](https://books.google.com/books?id=-s4DEy7o-a0C)). ([Wikipedia](https://en.wikipedia.org/wiki/Deutsch%E2%80%93Jozsa_algorithm) agrees but in slightly different wording.)

If we do the math, before the measurements the _amplitude_ of th

[2018-05-24 18:51] klenium commented on #50
I got it, thank you very much!

[2018-05-24 18:51] #50 closed

[2018-06-06 22:18] anpaz-msft commented on #51
Renaming the issue to reflect the actual problem.

[2018-06-09 10:32] EnginSahinCE opened #57 "using azure for 40 qubit"
How to simulate using azure for 40 qubit with microsoft quantum dev.kit (MQDK)? What do we need to do for azure and MQDK?

[2018-06-11 14:51] deepakkumar1984 commented on #48
The problem is with the account name "test user". Create a new user without space and test, it should work.

[2018-06-25 09:44] RolfHuisman opened #62 "RobustPhaseEstimationTest seems to be flaky"
Currently running builds. Sometimes RobustPhaseEstimationTest failes unexpectedly.
Seen it in the travis run (https://api.travis-ci.org/v3/job/396045026/log.txt):

[xUnit.net 00:00:15.9351386]       Microsoft.Quantum.Simulation.Core.ExecutionFailException : Assertion failed. Expected :  -2.61799387799149 . Actual :  3.6646801022588
[xUnit.net 00:00:15.9366258]       Stack Trace:
[xUnit.net 00:00:1

[2018-06-25 14:29] RolfHuisman commented on #62
Triage of build https://travis-ci.org/Microsoft/Quantum/jobs/396045026

[2018-06-25 21:13] anpaz-msft commented on #62
Thanks Rolf for reporting/testing/fixing :)

[2018-06-25 21:13] #62 closed

[2018-06-27 14:02] RolfHuisman opened #66 "Unittest failures in build which don't seem related to code changes"
If I look through https://travis-ci.org/Microsoft/Quantum/pull_requests i see a lot of failed builds, based on test failures that don't seem to be related to the change:

E.g.
https://travis-ci.org/Microsoft/Quantum/builds/396937185, log: https://api.travis-ci.org/v3/job/396937187/log.txt
 RepeatUntilSuccessCircuitsTest, Seed: 525109616
 MeasureWithScratchTest, Seed: 1049631137
 BitFlipSampleWt1Co

[2018-06-27 14:21] RolfHuisman commented on #66
Deltafication of the logs shows something strange; <img width="116" alt="leftpass rightfail" src="https://user-images.githubusercontent.com/39134931/41980091-3c693cf2-7a58-11e8-8558-29e030fe6a11.PNG">
Wouldn't expect the linux and mac server to differ that much.

[2018-06-27 15:06] qubeat commented on #66
May be related?: H2 simulation works with error after other tests (or if you simply run it few times) https://quantum.uservoice.com/forums/906946-samples-and-documentation

[2018-06-27 18:04] anpaz-msft commented on #66
I noticed this problem too, and I have trying to reproduce it with no success. As you point out is not the seed. Could be that we're not releasing resources. My intuition, though, is that this is a multi-threading problem, however you should be able to create multiple instances of a Simulator and run each one in parallel (which is what the tests would do), so I'm confused about what the actual pro

[2018-06-27 18:30] qubeat commented on #66
@anpaz-msft  The failures are too big and not quite random (most are around -0.4). They also seem never appear at first run of dotnet. Seems the more runs, the more errors. Below rather an illustrative example:
![h2sim_err3_graph](https://user-images.githubusercontent.com/15838899/41992473-0d67a99a-7a38-11e8-9252-508a8a29d4b6.png)

[2018-06-27 19:12] anpaz-msft commented on #66
The H2 simulation algorithm is probabilistic at different levels and it's not unexpected to see it failing; the reason for the jumps you see there is that the algorithm is finding not the ground state but a higher excitation level, which is an expected result. If you look carefully at the code, you'll notice that for each bond length we calculate the energy 3 times and select the minimum value, be

[2018-06-28 13:01] qubeat commented on #66
@anpaz-msft  I change code to repeat 5 times and it seems work better, at least no errors after couple runs in VS Code. However I am not sure about excited states, it may be some calculation artifact as well - there is a "pit" on graphs

[2018-06-29 12:30] DhawalJethwani commented on #48
@aviralwal did you find a solution? I am getting the same build error........

[2018-06-29 14:45] RolfHuisman commented on #66
Starting to suspect the init or destroy method in Microsoft.Quantum.Simulator.Runtime.dll. Validating hypothesis.

[2018-06-29 22:47] #48 closed

[2018-06-29 22:50] tcNickolas commented on #48
The issue has been fixed in the latest release (0.2.1806.2802-preview). Please update your project nugets to that version.

[2018-06-30 13:38] RolfHuisman commented on #66
Had a linux machine run "while dotnet test Samples/UnitTesting; do :; done;" and "while dotnet test LibraryTests; do :; done;" for a number of hours on a 2 vcpu, ubuntu machine but can't seem to repro this.

[2018-06-30 13:41] RolfHuisman commented on #66
Hmm.. LibraryTest seems to lock up with

as the last output

[2018-06-30 20:33] RolfHuisman commented on #66
export OMP_NUM_THREADS=1 makes the tests run correctly, export OMP_NUM_THREADS=2 makes it fail. So it implies there is a race condition i.c.w. OpenMP.

[2018-06-30 20:51] RolfHuisman commented on #66
Repro steps I used
Spin up on Azure a "Ubuntu Server 14.04 LTS" from Canonical (Standard B2s (2 vcpus, 4 GB memory))

Should get:

[2018-07-02 00:41] willdeuschle opened #74 "Can't create new Q# Project"
Running `dotnet new console -lang Q# --output Bell` for the Hello World project results in this error:

`'Q#' is not a valid value for -lang (language).`

This is with dotnet version 2.1.301.

I'm unclear if this is a Quantum problem or dotnet problem

[2018-07-02 05:36] anpaz-msft commented on #74
Did you follow the instructions on how to install the QDK and project templates:
https://docs.microsoft.com/en-us/quantum/quantum-installconfig?view=qsharp-preview&tabs=tabid-vscode#

Looks like you are missing installing the Project Templates:
`dotnet new -i "Microsoft.Quantum.ProjectTemplates::0.2.1806.3001-preview"`

[2018-07-02 05:47] anpaz-msft commented on #52
This is under consideration.
Meanwhile, may I suggest multi-cursor editing on vs-code or VS. This allows you to quickly comment multiple rows. It's a trick not many people know (I didn't know it until recently). To enable this press
`Ctrl+Alt` in VS Code or `Ctrl+Shift` in Visual Studio.

[2018-07-02 05:50] anpaz-msft commented on #51
Ah, yes. It was fixed in version `0.2.1806.1503`. Thanks @RolfHuisman for pointing this out.

[2018-07-02 05:50] #51 closed

[2018-07-02 05:53] anpaz-msft commented on #42
Thanks @ThiagoMS3 for the report. It was indeed by how the simulator implemented controlled operations with multiple qubits.
The problem should now be fixed in `0.2.1806.1503`, let us know if you find otherwise.

[2018-07-02 05:53] #42 closed

[2018-07-02 06:04] anpaz-msft commented on #66
A bug on OpenMP is right on the money of where we were betting the problem would be.
Because this appears to be solved on the latest version and you found a workaround for travis, I don't want to do any changes on our end (like statically linking OpenMP) to fix it.
I will accept the change to reduce the number of threads on travis to 1 so we don't see this failures anymore.

[2018-07-02 06:33] anpaz-msft commented on #52
This is not really a bug in Libraries, so closing it.
We request that you post enhancements to the Q# and the Quantum Development Kit on https://quantum.uservoice.com/, in particular, you probably want to up-vote this:
https://quantum.uservoice.com/forums/906208-q-language/suggestions/33973828-there-are-no-multiple-line-comments

[2018-07-02 06:33] #52 closed

[2018-07-02 10:53] willdeuschle commented on #74
I did in fact run that command originally. However, there's a difference between the command you provided and the one that is listed in the docs at that link:

![image](https://user-images.githubusercontent.com/16803992/42160213-603fabce-7dc4-11e8-873b-1f633cd956e0.png)

You can see that command is `dotnet new -i "Microsoft.Quantum.ProjectTemplates::0.2.1806.2802-preview"`, while the one you sugge

[2018-07-02 10:53] #74 closed

[2018-07-02 18:17] anpaz-msft commented on #74
Glad to hear it is working now for you. I just picked up the latest version, but 2802 will also work.

[2018-07-02 18:34] jhenshaw commented on #57
Hi @EnginSahinCE - thanks for the question. As of now, our higher-scale simulator is available only to customer with whom we are doing collaborative development. We are exploring making it available to broader audiences at a later time. If your simulation scenario requires 40 qubits and you'd like to explore early access [it may be paid access], feel free to shoot me an email at JHenshaw@microsoft

[2018-07-02 18:34] #57 closed

[2018-07-02 18:47] anpaz-msft commented on #48
This was actually fixed on 0.2.1806.3001-preview. Sorry for the confusion.

[2018-07-02 18:53] anpaz-msft commented on #66
Thanks @RolfHuisman, I've merged the changes.

[2018-07-02 18:53] #66 closed

[2018-07-04 13:31] nthalpy opened #75 "Unable to use shift operator"
According to https://docs.microsoft.com/en-us/quantum/quantum-qr-expressions?view=qsharp-preview, Q# provides arithmetic shift operator `<<<` and `>>>`.

And since Q# uses `Int64` type to express integer, following code
[code]
translates to
[code]
and since both left hand and right hand is `Int64`, C# compiler throws following error:
[code]

I think Q# compiler should translate arithmetic shift to

[2018-07-04 18:46] RolfHuisman commented on #75
Was reading this item and my first reaction was; "but if they reduce it to a int, would that semantically be incorrect. Since its only 32 bits where one expects 64 bits in the specification of the language."
But; int.MaxValue = 2,147,483,647 bits = 256 MB datatype...
So if we really want to shift based on a Int64, our datatypes need to be at least 256 MB where the current Int64 is just 64 bits. Th

[2018-07-20 09:19] fvalle1 opened #77 "job['infoQueue']['estimatedTimeInQueue']"
running samples qiskit the **job** object has not "estimatedTimeInQueue" but it has got a *position* label

it should be changed

[2018-07-20 16:08] RolfHuisman commented on #77
Known issue. They changed the api. Fix is in #71

[2018-07-31 07:00] Givanildo1976 commented on #48
ja tentei, mais da o mesmo erro reinstalei e instalei os programas e mesmo assim deu o mesmo erro como faço para corrigir essa versão tem o caminho? pode me ajudar ?

[2018-07-31 09:01] anpaz-msft commented on #48
@Givanildo1976 , podras mostrarnos los errores? este problema fue corregido en la version 0.2.1806.3001-preview

[2018-07-31 22:57] Givanildo1976 commented on #48
Ola Andre Paz meu nome e Givanido
Thank for help me
I,m problem in install my reposite. You can help me please
My problem is install  0.2.1806.3001-preview where is it ?
Thank very much
My name Givanildo I´m from Brasil
My phone is +5511949987231
Im learning kkkkkkkk

2018-07-31 6:02 GMT-03:00 Andres Paz <notifications@github.com>:

[2018-08-01 22:18] anpaz-msft commented on #77
Fix is merged into master.

[2018-08-01 22:18] #77 closed

[2018-08-10 23:42] taotaotao3 opened #78 "August 11, 2018 Dependency error in Microsoft Development Kit with latest Visual Studio 2017 Community"
Hello.
August 11, 2018 When installing the latest Visual Studio 2017 Community, deploying github of Microsoft development kit (MDK) to solution, and executing teleportation, 48 errors and dependency warning appeared in Nuget and MDK. How can we solve it?
![image](https://user-images.githubusercontent.com/20910951/43985467-935f5e9e-9d42-11e8-9653-66f7d3296600.png)

![image](https://user-images.gith

[2018-08-12 09:57] taotaotao3 opened #79 "Visual Studio Quantum Development Kit IntegerFactorization's Speed"
Visual Studio Microsoft Quantum Development Kit has the speed of a quantum computer, is not it?

Is it 100 million times faster than a classical supercomputer?

Quantum / Samples / IntegerFactorization /
I did not feel the speed if factoring decomposition using Shore's algorithm here.
Why?

In addition, here we are using long type in C #. With this, the number of digits is insufficient when prime

[2018-08-17 18:26] alan-geller commented on #78
Sometimes Visual Studio reports spurious IntelliSense errors, especially before and during the first time you build a Q# project. Since the sample ran successfully, I suspect that's what happened, and most of these errors and warnings should go away if you recompile.

We're working on ways to improve this experience; it requires some substantial changes to the way we integrate into VS.

[2018-08-17 18:37] alan-geller commented on #79
The Quantum Development Kit uses a classical simulator to simulate small quantum computations on a classical computer. It does not have the speed of some potential future quantum computer. Sorry!!

[2018-08-17 18:37] #79 closed

[2018-08-21 01:04] alan-geller commented on #75
This is indeed a code generation bug; I've entered it into our internal tracking system. It will be fixed in a coming release.
Sorry about that!!

[2018-09-09 21:06] jean002 opened #81 "Integer Factorization Sample"
I have tried to run Shor's algorithm on Visual Studio 2017, but there was an error message, saying that "period" in the qs file was undefined. The problem was that "period" was defined as EstimatePeriod(coprimeCandidate, number, useRobustPhaseEstimation). But the "EstimatePeriod" operation was defined after the "Shor" operation, in which "period" is defined. I've moved the codes for "EstimatePerio

[2018-09-09 21:54] RolfHuisman commented on #81
Might be a caching issue. Can you share your version numbers of the tooling you are using ? Can't repro this on Windows 10 with 2017 Enterprise version 15.8.3 and the Q# SDK 0.2.1806.3001

[2018-09-10 05:52] anpaz-msft commented on #81
The order in which operations are defined in Q# is not important.
Could you be a bit more specific on when/where did you see the error? If it was on the error window of Visual Studio when you open the solution: be aware that Visual Studio's Intellisense sometimes report errors the first time you open the solution until you actually compile the project and sometimes until you actually restart Visua

[2018-09-10 21:33] jean002 commented on #81
I use the free version of Visual Studio 2017 on Windows 10.

The error message appeared on the output window, at the bottom of the page. I have recently opened a new solution and new project and pasted the algorithm unchanged. It now runs fine.

[2018-09-11 19:51] cpalmer2020 commented on #75
This is now fixed with the most recent update (0.2.1809.701).

[2018-09-11 19:51] #75 closed

[2018-09-19 18:31] rickengle opened #83 "Issue adding Microsoft.Quantum.Canon NuGet package to UWP project"
Hi, while I could add the Microsoft.Quantum.Development.Kit NuGet package to my Windows 10 C# UWP project, when I tried to add the Microsoft.Quantum.Canon package as well I got this issue:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package Microsoft.Quantum.Canon 0.2.1809.701-preview is not compatible with uap10.0.15063 (UAP,Version=v10.0.15063). Package Microsoft.

[2018-09-23 08:26] RolfHuisman commented on #83
You need to switch the minimum supported version to "build 16299", because there support for dotnetcore 2.0 was introduced to UAP. Seee https://github.com/dotnet/standard/issues/462 for more information.

[2018-10-05 19:47] jean002 opened #89 "AdiabaticIsing"
Hi,

I have run the sample AdiabaticIsing in Visual Studio 2017 free edition, and I have got these errors (see attachment):

[AdiabaticIsing.pdf](https://github.com/Microsoft/Quantum/files/2452067/AdiabaticIsing.pdf)

Does anyone have any similar errors?

[2018-10-07 08:53] RolfHuisman commented on #89
Errors like these sometimes happens if the compile was not directly successful and the caches are corrupted. They are changing the way the integration of visual studio works, so these problems should dissapear then.

In the meantime, as a workaround; first try a rebuild. If that doesn't fix it, close visual studio, clean out the obj and bin folder, re-open in visual studio and recompile. Usually t

[2018-10-08 20:36] jean002 commented on #89
When I clean out the obj and bin folders and rebuild, all the C# errors are gone but all the Q# errors remain.

[2018-10-17 22:52] anpaz-msft commented on #89
Hi @jean002.
Looking at your screenshot, the errors are coming from a project called "Samples - Test", which is not a project that is part of this repository. I also see a "Driver.cs" listed in there, which is a file that is not part of the Adiabatic sample.
I also noticed that there are errors for an undefined `hxCoupling` on line 721 of an `Operation.qs` file.
I couldn't find any file that has t

[2018-10-17 22:52] #89 closed

[2018-10-17 22:54] anpaz-msft commented on #81
I'm closing this, as it seems to be working now.

[2018-10-17 22:54] #81 closed

[2018-10-17 22:55] #78 closed

[2018-10-20 21:54] jean002 commented on #89
It builds perfectly, but an error message "A project with an Output Type of Class Library cannot be started directly" appears when trying to debug it.

[2018-10-30 00:14] rjinka opened #104 "Q# Arthimatic syntax error"
Below code throws an error for arthematic syntax finaloutput += 1 and no error if i rewrite this to finaloutput = finaloutput + 1. Is this a bug or is it on purpose?

mutable finaloutput = 0;
using(Qubits = Qubit[1])
{
Set(Initial,Qubits[0]);
X(Qubits[0]);
let res = M(Qubits[0]);
if(res == One)
{
set finaloutput += 1;
}

Set(Zero,Qubits[0]);

}

[2018-10-30 21:07] loretoparisi opened #106 "The name 'BellTest' does not exist in the current context"
I get this error when compiling and running the tutorial example [here](https://docs.microsoft.com/en-us/quantum/quickstart?view=qsharp-preview&tabs=tabid-vscode) using

- VisualStudioCode 1.28.2
- .NET 2.1.403
- macOS Mojave
- Microsoft.Quantum.ProjectTemplates::0.3.1810.2508-preview

The Q# code is

[code]

while the Quantum Simulator in the `Driver.cs` was

[code]

The complete error was

[code

[2018-10-30 21:45] rjinka commented on #106
In the Drivers.cs file change the namespace to  Quantum.Bell. The namespce should be the same in both .cs and .qs file.

[2018-10-30 21:47] loretoparisi commented on #106
@rjinka that was it!! 💯

[2018-10-30 21:47] #106 closed

[2018-10-31 05:20] ZORLAXX commented on #104
I can take a look at this.

[2018-11-04 19:35] Treblosity opened #110 "404 error for maybe all links to samples in README.md"

[2018-11-05 02:46] crazy4pi314 commented on #110
I have submitted a PR to fix this already :)  #107

[2018-11-08 03:41] xpclove opened #111 "The Dump Functions: DumpMachine and DumpRegister should output a higher accuracy"
The Dump Functions: DumpMachine and DumpRegister should  output a higher accuracy.
Now  the sum of probabilities can not reach 1 from the dump file.

[2018-11-11 07:15] benprieur opened #113 "Build errors on Windows 10, VS Community 2017 - Sample does not compile"
Hi,

When compiling the sample I get these errors. Quantum assemblies are still not recognized as assemblies. These dependances are with yellow triangles in solution explorer.

_C:/Users/benoit/.nuget/packages/microsoft.quantum.canon/0.3.1811.203-preview/lib/netstandard2.0/Microsoft.Quantum.Canon.dll : error QS7010: The given file is not an valid assembly. [C:\Users\benoit\Quantum\Samples\src\Tele

[2018-11-11 19:18] NishkaDG opened #114 "Missing Path to SDK Resolver DLL"
## Could not load SDK Resolver. A manifest file exists, but the path to the SDK Resolver DLL file could not be found. ##

I followed the instructions at https://docs.microsoft.com/en-gb/quantum/install-guide/vs-2017?view=qsharp-preview but when I click on Samples\QSharpSamples.sln, I get the above error. As the file paths after the quoted error message mention NuGetSdkResolver.dll, in accordance t

[2018-11-13 14:33] cristicmf commented on #113
I have the same question

[2018-11-15 10:40] blfuentes opened #116 "Cannot load Q# language extension"
I downloaded the version 0.3.1811.203 and installed it.
I created a Q# project but I  get the following message:

_There was an error activating the remote language server, Q# Language Extension. For more details, please run devenv /log and examine ....\ActivityLog.xml file._

I ran it and I found a problem  related to Q# language extension

_
ERROR System.SystemException: The trust relationship b

[2018-11-15 19:11] NishkaDG commented on #114
I individually downloaded every file and package with the "NuGet" or "DLL" in the title; then I was getting errors such as "load failed" and, eventually, an error claiming that "Microsoft.NET.Sdk" was missing. By this point I felt it would be cleaner to clone the Q# repository again, but the "missing Microsoft.NET.Sdk" error did not go anywhere. I have no idea what I am doing wrong.
Thank you for

[2018-11-15 19:34] blfuentes commented on #113
I was having the same issue. Just closed the solution and opened it again. The references were recognized and everything worked.

[2018-11-16 01:58] NishkaDG commented on #114
I individually downloaded every file and package with the "NuGet" or "DLL" in the title; then I was getting errors such as "load failed" and, eventually, an error claiming that "Microsoft.NET.Sdk" was missing. By this point I felt it would be cleaner to clone the Q# repository again, but the "missing Microsoft.NET.Sdk" error did not go anywhere. I have no idea what I am doing wrong.
Thank you for

[2018-12-03 08:31] Strilanc opened #120 "`body auto` should infer body block if any other block is specified"
I've noticed myself often implementing `body` blocks exactly as follows:

[code]

which significantly reduces code duplication in cases where the controlled version of an operation only needs to control a few sub-operations, and you want both the controlled and uncontrolled versions of the operation.

I think the language should allow me to replace this boilerplate with just `body auto`, assuming

[2018-12-03 08:34] Strilanc opened #121 "Add `uncompute` blocks to operations"
It is often cheaper to uncompute an operation if you know that the result will be in the 0 state.

For example, if you know that the target qubit involved in a Toffoli operation will end up 0, you can perform the Toffoli with an X-basis measurement and a classically controlled CZ. This reduces the number of magic states required to perform an operation.

It is tedious to have to specify different

[2018-12-06 22:19] kmckiern opened #127 "CreateHubbardHamiltonian README.md is out of date"
`HubbardSimulation.qs` and `HubbardSimulationSample.csproj` no longer exist (referenced in the manifest).

[2019-01-31 09:49] bigfg opened #136 "No definition found for QuantumSimulator in vscode under mac"
## THANKS FOR TAKING THE TIME TO REPORT AN ISSUE ##

Please be advised that we are collecting feedback for the entire
Microsoft Quantum Development Kit at [user voice](https://quantum.uservoice.com/).

It would be much better for us if you  leave your suggestions,
requests and bugs (or praises!) there.

Thanks!

[2019-02-04 23:12] He-ya commented on #17
I also have the same question in the line 18 and 19 in this code:
The name 'BellTest' does not exist in the current context
Cannot infer the type of implicitly-typed deconstruction variable 'numZeros'. [Bell]
Cannot infer the type of implicitly-typed deconstruction variable 'numOnes'. [Bell]
Cannot infer the type of implicitly-typed deconstruction variable 'agree'. [Bell]
I can't fix the bug by th

[2019-02-04 23:15] cgranade commented on #17
@He-ya: Thanks for providing the C# host program! From the details provided, it looks like the C# compiler isn't finding the `BellTest` class that the Q# compiler generates from the `BellTest` operation. Would you be able to provide the Q# code you used as well? Thanks!

[2019-02-04 23:20] He-ya commented on #17
@cgranade: Thanks. The tutorial Q# code Bell.qs from the said website:
https://gist.github.com/He-ya/4e5233749d63667a9703eba088d9b677

[2019-02-04 23:31] He-ya commented on #17
I can't even run the command 'dotnet run' with the TeleportationSample.qs file, the sample file in the tutorial.
https://gist.github.com/He-ya/26a480579dc24904cc9614e434198909

[2019-02-04 23:37] He-ya commented on #17
I don't know if the error occurs while compiling it under the Mac OSX.

[2019-02-06 01:04] tcNickolas commented on #110
Indeed this has been fixed. Thank you for your vigilance :-)

[2019-02-06 01:04] #110 closed

[2019-02-08 15:42] cgranade commented on #136
Thanks for letting us know about the problem. Would you be able to provide a bit more detail as to what went wrong, so that we can better address the issue? Thanks!

[2019-02-08 15:58] bettinaheim commented on #116
Would you mind downloading the newest version and checking if the issue still persists? I believe this was a language setting related bug that should be fixed.

[2019-02-08 17:55] blfuentes commented on #116
@bettinaheim  Thanks for writing back. This issue can be closed as it was resolved with a version that was released in November last year. (0.3.1811.1501)
https://stackoverflow.com/questions/53317490/cannot-load-q-language-extension

[2019-02-08 17:55] #116 closed

[2019-02-08 17:58] vadym-kl commented on #121
Using current Q# capabilities it is possible to express the example you refer to by using combination of `Assert` and `adjoint` ( which seems like what `uncompute`  should do):

[code]

Note that `AssertCCXTargetIsBackToZero` must be replaced by NoOp for resource estimation purposes to get accurate gate counts.

[2019-02-08 19:34] bettinaheim commented on #116
Great, yes, I thought so. Sorry it took a while to get back to you - we are trying to keep on top of things but could definitively use a hand or two!

[2019-02-10 14:56] karlti opened #140 "Error while downloading qsharp Python package"
Hi All,
trying to setup an env via conda as described, fails. i get an error:

`Downloading and Extracting Packages
qsharp-0.3.1811.203 | 51.0 MB | ########################################################################8 | 75%
[Errno 2] No such file or directory: 'C:\\Program Files (x86)\\Microsoft Visual Studio\\Shared\\Anaconda3-5.2.0-Windows-x86_64\\pkgs\\qsharp-0.3.1811.203-preview_py3.6\\inf

[2019-02-11 02:41] Strilanc commented on #121
I see. Yes, that is a good strategy for performing these kinds of operations. Have a separate operation with an understood precondition (and postcondition for uncompute).

[2019-02-11 02:41] #121 closed

[2019-02-14 19:39] anpaz-msft commented on #127
Thanks for bringing this up. This is about the README.md in
https://github.com/Microsoft/Quantum/tree/master/Chemistry/CreateHubbardHamiltonian
as the name implies this sample shows how to create Hubbard Hamiltonians in C# using the chemistry library.  The README.md was probably copied from the original https://github.com/Microsoft/Quantum/tree/master/Samples/src/HubbardSimulation which does the H

[2019-02-14 19:46] anpaz-msft commented on #114
Did you figured this out? Looks like your installation of dotnet was missing or broken. What version of VS did you have?
If still a problem, I would suggest installing .net core from this URL:
https://www.microsoft.com/net/download
and then, from the command line on a clean clone of this Samples repository run:
`dotnet build Samples/QsharpSamples.sln`
that is all you need.

[2019-02-14 19:48] anpaz-msft commented on #114
Closing as this is not really an Issue with the samples.
https://stackoverflow.com is probably a better venue to ask these questions, the Q# team actively monitors [questions tagged with q#](https://stackoverflow.com/questions/tagged/q%23)

[2019-02-14 19:48] #114 closed

[2019-02-14 19:54] anpaz-msft commented on #113
As mentioned closing/opening the solution typically fixes these problems in Visual Studio.
One thing that I find interesting is the path reported is:
_C:\Users\benoit.nuget\packages\microsoft.quantum.development.kit\0.3.1811.203-preview\lib\netstandard2.0\Microsoft.Quantum.Simulation.Simulators.dll"_

but it should have a '\' between `betnoit` and `.nuget`. as in:
_C:\Users\benoit\.nuget\packages\

[2019-02-14 19:56] anpaz-msft commented on #113
Closing as this is not really an Issue with the samples.
https://stackoverflow.com is probably a better venue to ask these questions, the Q# team actively monitors [questions tagged with q#](https://stackoverflow.com/questions/tagged/q%23).

[2019-02-14 19:56] #113 closed

[2019-02-14 19:57] #83 closed

[2019-02-14 20:01] anpaz-msft commented on #136
The QuantumSimulator is a C# component, does it requires the Omnisharp C# extension to be recognized by Intellisense.
Not sure what the exact bug is here. As Chris pointed out, we need more info.

At any case, closing as this is not really an Issue with the samples.
https://stackoverflow.com is probably a better venue to ask these questions, the Q# team actively monitors [questions tagged with q#]

[2019-02-14 20:01] #136 closed

[2019-02-14 20:08] anpaz-msft commented on #104
Yeap, the `+=` is not a valid operator in Q#. Sorry.
The current Q# language reference can be found at:
https://docs.microsoft.com/en-us/quantum/language/

[2019-02-14 20:14] anpaz-msft commented on #104
I see this suggestion posted in [UserVoice](https://quantum.uservoice.com/forums/906208-q-language), which is the right place for it. Closing this Issue as it's not specific to this Samples repository.

[2019-02-14 20:14] #104 closed

[2019-02-16 02:12] crazy4pi314 opened #142 "Include QDK at Visual Studio install"
It would be cool for people setting up new development environments to be able to select at install time to download and install the QDK. See the screen cap below for an example:

![image](https://user-images.githubusercontent.com/6486256/52893000-e9b8f900-314c-11e9-8e1b-e55396b27cac.png)

Thanks!

[2019-02-21 18:12] cgranade commented on #111
Sounds like a great idea, thanks! We don't have a plan to do this right at the moment, but we've added it to the backlog for when we get the chance.

[2019-02-21 18:18] cgranade commented on #142
Great idea, thanks! We've marked it on our list of things we want to look into.

[2019-03-01 15:30] Assisting commented on #114
Just as an FYI I've run into the same problem. You'll probably want to check for the existence of `C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\Common7\IDE\CommonExtensions\Microsoft\NuGet\Microsoft.Build.NuGetSdkResolver.dll`, in my case the whole NuGet folder was missing.

[2019-03-04 17:07] mikejr76 commented on #114
Assisting you mentioned "in my case the whole NuGet folder was missing." but you didn't mention how you got it?

[2019-03-07 00:04] jclapis opened #148 "DumpRegister has certain rows swapped"
Hi guys,

I'm sure this isn't the correct place to report this, but as far as I can tell the Microsoft.Quantum.Extensions namespace lives in the Primitives library and that isn't open sourced. I just don't know where else to put it or who to submit it to. Anyway, during my experiments I've run into two issues with DumpRegister - one of them is just a documentation thing, but I believe the other mi

[2019-03-07 17:32] cpalmer2020 commented on #120
Thanks for this.  We'll take a look.

[2019-03-07 18:14] anpaz-msft commented on #148
Thanks for the detailed report. As you can see we moved it to the /Quantum repository where we're tracking general bugs in the Quantum Development Kit.

I can confirm this is unrelated to `QFT`. The following code shows the same behavior:

[code]

The output of `DumpRegister` above should be the same case in all cases, but when we change the order of `q[2]` and `q[1]`, then we see that 6 & 8 chang

[2019-03-08 01:40] ValentinS4t1qbit opened #149 "Python interops with numpy arrays"
Currently, the Python interops do not support numpy arrays as arguments. A lot of Python users and packages rely on numpy arrays since there are no built-in arrays available in Python, and it would be desirable for the python interops to be able to translate internally a numpy array as an array of float, int or booleans (e.g simply expose the data in Q# operations as a Double[], Int[], Bool[]).

S

[2019-03-08 01:51] Piedone commented on #48
Can it be that there's a similar error also when your username contain an accented character (like in "Zoltán")? When I try to build the samples I get errors of this sort for all projects:

There are a few with error code -2 too:

[2019-03-08 02:01] Piedone opened #150 "Q# compilation fails if user name contains accented characters"
Similarly to #48 compilation also throws errors if your username is "Zoltán", most possibly due to an accented character being there. However, I'm not sure; I just know that this fails, why a user account named "Qsharp" works.

Specifically when I try to build the samples I get errors of this sort for all projects:

There are a few with error code -2 too:

Should this rather go to https://quantum.

[2019-03-08 02:01] Piedone commented on #48
And yes, I've opened https://github.com/Microsoft/Quantum/issues/150 for this.

[2019-03-08 07:17] cgranade commented on #149
Thanks for the report, @ValentinS4t1qbit! We're currently tracking this at https://github.com/Microsoft/QuantumLibraries/issues/40, so I'm closing this issue as a duplicate of that one, but please feel free to discuss further at Microsoft/QuantumLibraries#40.

[2019-03-08 07:17] #149 closed

[2019-03-08 07:35] ValentinS4t1qbit commented on #149
I see ! Andres suggested we raised an issue on the Quantum repo, and I did
not think about checking for duplicates. If it's already on your radar then
it's all what matters :)

Valentin

On Thu, Mar 7, 2019, 11:17 PM Chris Granade <notifications@github.com>
wrote:

[2019-03-13 21:25] jclapis opened #151 "Whitespace characters aren't escaped properly in Message()"
According to [the documentation for strings](https://docs.microsoft.com/en-us/quantum/language/expressions?view=qsharp-preview#string-expressions) in Q#, we should be able to write whitespace characters like \r\n and \t by using a backslash as the escape character, just like C# strings. I tried writing a few of these strings and called [Message()](https://docs.microsoft.com/en-us/qsharp/api/prelud

[2019-03-14 15:34] ayush1999 opened #152 "Error installing iqsharp kernel"
## THANKS FOR TAKING THE TIME TO REPORT AN ISSUE ##

I'm trying to follow the guidelines mentioned in https://docs.microsoft.com/en-us/quantum/install-guide/python?view=qsharp-preview to install the iqsharp kernel, but I get a `No executable found matching command "dotnet-install"` when installing it (using `dotnet iqsharp install`).

[code]

[2019-03-14 15:46] cgranade commented on #152
Thanks for the report! It looks like you may have run `dotnet install iqsharp` instead of `dotnet iqsharp install`?

[2019-03-14 15:54] ayush1999 commented on #152
@cgranade I still get the same error:
[code]

[2019-03-14 16:42] cgranade commented on #152
@ayush1999 This can happen sometimes if you haven't restarted your shell since installing the .NET Core SDK. Can you check if `~/.tools` is on your `$PATH`? Thanks!

[2019-03-14 17:27] ayush1999 commented on #152
I manually added it to my path: `export PATH="/home/ayush99/.dotnet/tools:$PATH"`, however I still get the same error. (Which is strange, I can see the executable in my path, not sure why it isn't recognized.)

[2019-03-15 13:42] cgranade commented on #152
That is odd, agreed. Typically, when you run a global tool using syntax like `dotnet iqsharp`, that looks for a `dotnet-iqsharp` executable. Can you run `dotnet-iqsharp --version` (with the dash)? If not, if you use the explicit path to the `dotnet-iqsharp` executable in `~/.dotnet/tools`, does that work to run `dotnet-iqsharp --version`?

[2019-03-15 16:29] ayush1999 commented on #152
@cgranade I can run `dotnet-iqsharp --version`:
[code]
Is there any other possible reason that `dotnet iqsharp` might not be recognizing the executable?

[2019-03-19 18:58] cgranade commented on #152
That's definitely odd, would you be willing to provide some more diagnostic information? Specifically, the output of `dotnet --info` could be quite useful. Thanks!

[2019-03-20 08:46] ayush1999 commented on #152
Sure:
[code]

[2019-03-21 16:29] tirdtoon commented on #152
I have the same problem...on ubuntu 18.04

[2019-03-21 19:24] anpaz-msft commented on #148
Just a quick note to let you know we have identified the problem and are hoping to get it fixed on our next release.  I'll close the bug once it gets released.

[2019-03-21 19:27] jclapis commented on #148
Excellent, thanks guys! Looking forward to it.

[2019-03-26 16:17] ayush1999 commented on #152
@cgranade Any updates on this?

[2019-03-28 15:49] anpaz-msft commented on #148
This is now fixed with yesterday's release. Give it a try and let us know otherwise.
Thanks again.

[2019-03-28 15:49] #148 closed

[2019-03-30 21:51] crazy4pi314 opened #163 "Error with standalone opens in Q# notebooks"
I am super stoked about Q# notebooks, thanks for doing this! 😍

I was just trying out some of the snippets from the [Intro To IQSharp](https://github.com/Microsoft/Quantum/blob/master/Samples/src/IntroToIQSharp/Notebook.ipynb) notebook and found something I think might be a bug. If you use any `open` statement in a cell by itself, it returns the following error message: `The given key was not pres

[2019-04-07 01:29] Strilanc opened #165 "RandomIntPow2 doesn't work when using ToffoliSim"
Attempting to generate random numbers via `RandomIntPow2` in a test using a Toffoli simulator results in the following exception:

[2019-04-08 05:02] isaacy commented on #152
I ran into this but when I re-ran this nder the Anacorda prompt it worked!

[2019-04-08 05:23] Strilanc opened #166 "Make the trace simulator more efficient by caching statistics of pure operations"
If an operation performs no measurements and generates no random numbers, its cost behavior is determined entirely by its inputs. For inputs that are qubits, only the number of qubits matters. For example, if I run an addition circuit on two registers of size n and it uses n-4 Toffoli gates and some Cliffords and that's all it ever does, then the next time I run the addition on two registers of si

[2019-04-08 17:30] alan-geller commented on #165
Oops... I thought Random was defined in a base class, but it's not. Working on a fix right now.

[2019-04-08 20:12] Strilanc opened #167 "Expand support for BigInt"
Now that BigInt is an accessible type, there should be more and more methods that work in terms of it. For example, if you measure a LittleEndian, that should ideally produce a BigInt instead of an Int. That way the method won't stop working at 64 qubits.

Actually, I am unsure why Q# even has a concept of a 64 bit integer. Is there any efficiency benefit to this design decision? Why not copy pyth

[2019-04-08 20:24] Strilanc opened #168 "Make custom inline arithmetic operators possible"
A major source of boilerplate and typos in my Q# programs is having to write things like this:

[code]

Instead of this:

[code]

Or this:

[code]

instead of this:

[code]

I would find it very useful if there were some mechanism to fix that. There are many possible ways to do so. For example, a pattern matching system:

[code]

[2019-04-08 20:31] Strilanc opened #169 "Option to count Toffolis instead of counting T gates"
Using current techniques, it is cheaper to perform a Toffoli gate directly via a CCZ state instead of via multiple T states. As a result, I often want to count Toffoli gates instead of T gates.

I have Q# code that counts Toffolis by instead counting Ts then dividing by 7 in order to compute the Toffoli count, but this code will break as soon as e.g. the trace simulator is updated to use the actua

[2019-04-08 20:39] Strilanc opened #170 "Augment slice notation with an alternative that excludes the stop index"
My Q# programs are filled with unnecessary `-1`s because the slice `a..b` includes `b` instead of stopping at `b-1`. I recommend [copying ruby](http://ruby-doc.org/core-2.1.3/Range.html) and adding the alternative `a...b` to exclude `b`.

It would also be useful to have "open slices"` like `a..` and `..b`. For example, `array[a..]` would be equivalent to `array[a..Length(array)-1]`.

[2019-04-08 22:09] bettinaheim commented on #170
Thank you for your input!
We are always working on improving Q#, and open slices are definitively worth considering.

[2019-04-09 01:24] Strilanc opened #171 "Make `Message($"{qubit}")` print the qubit's bit value when using the Toffoli simulator"
Similarly, `Message($"{little_endian}")` should print the integer stored by the little endian qubit register. This could be in addition to the qubit id.

This behavior would make prtinf-style debugging a bit more memorable.

[2019-04-11 16:38] cpalmer2020 commented on #169
Thanks.  This is an interesting idea to consider.

[2019-04-11 16:42] cpalmer2020 commented on #168
Thanks.  We'll look into this.

[2019-04-11 16:42] cpalmer2020 commented on #168
Thanks.  We'll look into this.

[2019-04-19 09:08] ImanRahmanRI opened #176 "Directory name is invalid when run dotnet iqsharp install"
Hi everyone, I have a problem when running the "dotnet iqsharp install" on powershell windows 10. It's alway pop an error that the directory name is invalid. I'm assuming it because my windows user name contain a space. Is there any solution for this problem?

[2019-04-19 10:04] ImanRahmanRI commented on #176
I have get rid of the problem, but another problem pop up. It raise an error "no executable found matching command "dotnet-iqsharp"". Is anyone have a suggestion or solution to this problem?

[2019-04-19 13:11] #176 closed

[2019-04-19 13:15] ImanRahmanRI commented on #152
I have encounter the similar problem. But, in my case I solve it with installed .Net again with the builds apps version that compatible with visual studio 2017

[2019-04-22 17:10] alan-geller commented on #165
This should be fixed in the latest NuGet packages. Thanks for the bug report!!

[2019-04-22 17:10] #165 closed

[2019-04-25 17:00] cgranade commented on #152
@tirdtoon @ayush1999 @desireevl My apologies, but I haven't been able to reproduce the issue on my end. If you have any other information you provide, I would greatly appreciate it. Are you able to run other .NET Core Global Tools (e.g.: [`dotnet-cowsay`](https://www.nuget.org/packages/dotnet-cowsay/))? Thanks for the help diagnosing this!

[2019-04-25 17:05] anpaz-msft commented on #151
@bettinaheim, I took a quick look and the string given by the compiler has the `\` escaped itself, for example:
[code]
Looks like a problem with the escaping on the parser.

[2019-04-25 17:21] anpaz-msft commented on #152
Looks like `dotnet-iqsharp` works, but `dotnet iqsharp` doesn't work, is that correct @ayush1999?
If so, looks like a problem on how `dotnet` is findind sub-commands in Ubuntu, looks like in this environment is not looking yet for subcommands in global tools.

@cgranade , do you have any objections if we change the tool name to be just `iqsharp`? Looking at [global tools documentation](https://doc

[2019-04-25 18:17] anpaz-msft commented on #152
@tirdtoon @ayush1999 @desireevl if `dotnet-iqsharp` works, as a workaround you should be able to run this command to install the kernel:
[code]
Optionally, if there is a [Dockerfile in our samples repository](https://github.com/Microsoft/Quantum/blob/master/Dockerfile) that you can use to create a Docker image and get you started. The image is setup you can run Q# from C#/Python/Jupyter.

[2019-04-25 20:27] bettinaheim commented on #151
Ok, let me take a look then, and get that off our plate.

[2019-04-26 11:35] frajos100 opened #183 "OpenQASMReader Sample fails to read and convert U2(0.0,3.14159265358979, q[1]); to Q#"
## THANKS FOR TAKING THE TIME TO REPORT AN ISSUE ##

Please be advised that we are collecting feedback for the entire
Microsoft Quantum Development Kit at [user voice](https://quantum.uservoice.com/).

It would be much better for us if you  leave your suggestions,
requests and bugs (or praises!) there.

OpenQASMReader Sample fails to read and convert U2(0.0,3.14159265358979, q[1]); to Q#

[2019-05-03 23:24] imvieira opened #185 "Using Shor's algorithm to solve discrete logarithm problem"
I have read about Shor's algorithm and my understanding is that it can be used to factor large numbers efficiently. Can Shor's algorithm, though, be used to solve this problem:

Find the number 𝑒 e  given the following information (Assume that 𝑃 P , 𝐶 C , 𝑁 N  and 𝑒 e  are all large, say 2048-bit integers):  the integers 𝑃 P  and 𝑁 N the integer 𝐶 C  where 𝐶=𝑃𝑒mod𝑁 C = P e mod N If so, how does th

[2019-05-05 07:34] Strilanc opened #186 "Allow function overloading"
When writing arithmetic functions, it seems common to have variants specialized to `int`, `BigInt`, and `LittleEndian`. It's confusing to have to remember different names for these functions, instead of just having one standard name with disambiguation via the type system.

[2019-05-05 20:43] Strilanc opened #187 "Efficient simulation of measurement-based uncomputation"
One of the results in https://arxiv.org/abs/1902.02134 is a very efficient way to uncompute a table lookup (appendix C).

When attempting to implement this construction in Q#, I ran into a catch-22. If I want to be able to simulate big cases, I need to use the Toffoli simulator. But this construction is based on performing measurements in the X basis, and involves phase fixups, so the Toffoli simu

[2019-05-06 01:21] bettinaheim commented on #186
Thank you for your feedback! Yes, how to extend the functionality of generics has definitively been on our radar.

[2019-05-09 02:28] Gustavo-Loggin commented on #106
In the example it is still as "Quantum.Bell", with the same error.
Mine also resolved to switch to "Bell" in both files.

[2019-05-12 07:24] gauss1314 commented on #152
Thank you, it saved my time! But I want to know how do you find this solution? It is a dotnet bug or jupyter ?

[2019-05-17 13:14] imvieira commented on #185
I have started using Qiskit since August 2018 with jupyter notebook.
Last week I went through quantum experience website and how amazing is the dashboard and how easy is to play with quantum information.
I am studying one more time some fundamentals and then, I have plans to apply my question using Qiskit.

[2019-05-17 20:37] bookRa commented on #163
I, too am having problems opening the Microsoft.Quantum namespaces mentioned in `IntroToIQSharp/Notebook.ipynb` .
Getting the same errors as @crazy4pi314 above.
Some more info:
[code]

Any help would be appreciated. In the meantime, I'll try using the Python introduction

[2019-05-21 20:28] Daniel-Boll opened #191 "DatabaseSearch sample has an incorrect number of iterations"
The file [Program.cs (Samples/src/DatabaseSearch/Program.cs)](https://github.com/microsoft/Quantum/blob/master/Samples/src/DatabaseSearch/Program.cs) has the Number of Iterations wrong in lines 104 and 180.

In both cases, it should be 6.

According to [Watrous](https://cs.uwaterloo.ca/~watrous/LectureNotes/CPSC519.Winter2006/13.pdf), page 3, the number of iterations (k) should be equal to pi divi

[2019-05-21 20:29] #191 closed

[2019-05-21 20:32] MahatKC opened #192 "DatabaseSearch has an incorrect number of iterations"
The file [Program.cs (Samples/src/DatabaseSearch/Program.cs)](https://github.com/microsoft/Quantum/blob/master/Samples/src/DatabaseSearch/Program.cs) has the Number of Iterations wrong in lines 104 and 180.

In both cases, it should be 6.

According to [Watrous](https://cs.uwaterloo.ca/~watrous/LectureNotes/CPSC519.Winter2006/13.pdf), page 3, the number of iterations (k) should be equal to pi divi

[2019-05-23 04:59] tcNickolas commented on #163
I agree, it would be extremely helpful to be able to open namespaces once in the beginning of the notebook and never return to this again, like we do in projects. In the notebook katas it is particularly painful - it is very hard for the learner to figure out that they need to open namespace in each cell, especially since the reference solutions in the project don't have this need.

[2019-05-27 10:57] oleksor opened #195 "Kernel for Q# in Jupyter notebook on macOS does not start properly"
===
Here is part of terminal log on most recent Mojave:
[I 13:46:02.177 NotebookApp] Kernel started: 96c254b2-b9e1-40ab-a2d0-1084f328eeb8
Access to the path '/Users/alias/Library/IdentityServices' is denied.
[I 13:46:14.167 NotebookApp] KernelRestarter: restarting kernel (1/5), keep random ports
Access to the path '/Users/alias/Library/IdentityServices' is denied.
[I 13:46:17.179 NotebookApp] Kern

[2019-05-29 08:55] chopinvan commented on #152
Use this

dotnet iqsharp install --user

Because Jupyter can not run under Sudo mode, but without sudo mode you can not write into Jupyter notebook directory. So, you need to make file writing local

[2019-06-01 15:56] oleksor commented on #195
If jupyter notebooks starts from virtual environment, this issue disappears.

[2019-06-01 15:56] #195 closed

[2019-06-21 22:27] cgranade opened #203 "Further simply and consolidate GetGateCount chemistry sample."
As per @anpaz-msft's comments in #202, it would be good to further consolidate the C# code for the GetGateCount sample. In particular, there's still some duplicated code sections near where each of the Q# operations is run and then converted out to resource estimates by calls to [QCTraceSimulator.GetMetric](https://docs.microsoft.com/dotnet/api/microsoft.quantum.simulation.simulators.qctracesimula

[2019-06-25 06:08] hussainb commented on #114
you should really mention how you were able to get that missing nuget folder, it will really "Assist" us.

[2019-06-26 00:06] Haishi2016 opened #204 "Provide more descriptive documentation on operations"
There's basically no descriptions on what each operation does. Sure, based on the operation name some experienced developer can infer/guess what it does, but it's pretty hard for a beginner to make sense of it. As an example, look at the documentation on "S" operation.

[2019-06-28 22:02] cgranade commented on #185
Thanks for your report, @imvieira. I think you have the wrong repository, however, in that this is the repository for Quantum Development Kit samples.

[2019-06-28 22:02] #185 closed

[2019-07-03 20:29] jgilpin commented on #114
I had the same error when only VS2017 build tools is installed.
To remedy, I needed to install the Microsoft.VisualStudio.Component.NuGet.BuildTools component.

Used a command like this from powershell:
`Start-Process "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" -ArgumentList 'modify --installPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools" --pas

[2019-07-12 10:26] kant2002 opened #209 "Where is the QDK"
I go to this website from https://cloudblogs.microsoft.com/quantum/2019/07/11/microsoft-quantum-oss-available-github/ where it is announced that QDK is open-sourced, but could not find anything on the MS github.

It is not clear, what's open-sourced then, since this repository was already present for relatively long time.

[2019-07-12 15:48] cgranade commented on #209
Thanks for your question! The Quantum Development Kit consists of a few different components, as [summarized in the documentation](https://docs.microsoft.com/quantum/#microsoft-quantum-development-kit-components). We're very excited that to make the [Q# compiler](https://github.com/microsoft/qsharp-compiler), [Q# runtime](https://github.com/microsoft/qsharp-runtime), and the [IQ# kernel](https://g

[2019-07-12 16:38] kant2002 commented on #209
I did not look at the docs. Generally I caught in the loop between blog post which point to https://www.microsoft.com/en-us/quantum/development-kit and "Contribute to our open source QDK" which point to the blog post again. Your links really helpful.

Thanks!!!

[2019-07-13 11:10] #209 closed

[2019-07-17 00:58] #127 closed

[2019-07-18 10:32] stefante opened #211 "q# not a language option for .net core"
**Describe the bug**

- Followed all the steps on the intro page  https://docs.microsoft.com/en-gb/quantum/quickstart?view=qsharp-preview&tabs=tabid-vscode

- Tried to run $dotnet new console -lang Q# --output Bell

- Results in an error: "Error: invalid aprameters(s): -lang Q#

**To Reproduce**
follow steps above

**Expected behavior**
should create directory includig q-files

**System informatio

[2019-07-18 10:41] stefante commented on #211
Same as issue #116...

[2019-07-18 10:41] #211 closed

[2019-07-19 21:47] stefante opened #212 "Reference to unknown namespace Microsoft.Quantum.Intrinsic"
**Describe the bug**
I am following the instructions for the "hello world"program

namespace Quantum.Bell {
    open Microsoft.Quantum.Intrinsic;
    open Microsoft.Quantum.Canon;

    operation HelloQ () : Unit {
        Message("Hello quantum world!");
    }
}

on "dotnet run" I always get the same error message

"Reference to unknown namespace Microsoft.Quantum.Intrinsic"

How do I properly ref

[2019-07-19 23:43] anpaz-msft commented on #212
Hi @stefante, can you add more details about the error message? There is typically a code and a line number associated with the error that will give us more information.
Also, can you let us know what version of .net core (`dotnet --info`) and what OS this is running on?

[2019-07-20 19:25] sdimantsd opened #213 "How can i convert Int to String?"
Hi,
I want to print out some number. how can i do it?
Message() arguments is only a String...

Thanks!

[2019-07-20 21:17] #213 closed

[2019-07-30 18:20] stefante commented on #212
Thanks for the reply and your help, @anpaz-msft

I am running **dotnet 2.2.301**  and **Mac OS Mojave 10.14.5**

**The first messages are:**

- Bell.qs(1,23): error QS0001: The namespace body is invalid [/Users....../Bell/Bell.csproj]

- Bell.qs(3,5): error QS0001: Reference to unknown namespace Microsoft.Quantum.Intrinsic [/Users..... /Bell/Bell.csproj]

**Bell.csproj was autogenerated and includ

[2019-07-30 20:23] cgranade commented on #212
@stefante: It sounds like your project templates are out-of-date, as we're currently on [version 0.8.1907.1701](https://www.nuget.org/packages/Microsoft.Quantum.Development.Kit/0.8.1907.1701). In particular, the namespace name `Microsoft.Quantum.Intrinsic` was introduced with Q# version 0.6, such that this error makes sense when using a package reference to version 0.2 of the Quantum Development K

[2019-07-30 20:25] cgranade commented on #212
Closing the issue, as I believe that the problem was the version mismatch. If you have any additional questions or if there is a bug with the update process, please feel free to reopen the issue or to file a new issue. Thanks for your feedback!

[2019-07-30 20:25] #212 closed

[2019-07-30 22:16] Assisting commented on #114
Apologies to those who asked, my eventual solution was to copy/paste it from elsewhere in the file system. If you don't have it at all I'm sure @jgilpin 's suggestion would work.

[2019-08-09 13:11] deathstorke111 opened #219 "Inadequate information on the documentation page"
Please provide a proper background and brief explanation on the functions .
Example code snippet would be much helpful.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d171e51e-8fda-4f1f-f6c6-b634d8f7b173
* Version Independent ID: 445d760f-4a36-451e-9112-ec73adb57323
* Content: [ControlledOnBitString function

[2019-08-09 20:59] #183 closed

[2019-08-09 21:01] bromeg commented on #183
The relevant sample has been moved to : https://github.com/qsharp-community/qsharp-integrations

[2019-08-12 05:48] dessatel opened #220 "Binder fails to start for Microsoft/Quantum"
Binder  repository: Microsoft/Quantum/master  fails to start with following message:

Waiting for build to start...
Picked Git content provider.
Cloning into '/tmp/repo2dockersrpxpd03'...
HEAD is now at c1b982e Point Qiskit, OpenQASM samples to qsharp.community repos (#215)
Using DockerBuildPack builder
Step 1/9 : FROM mcr.microsoft.com/quantum/iqsharp-base:0.8.1907.1701
 ---> 9a09604026f8e...
Ste

[2019-08-13 05:02] cleemullins commented on #220
Same issues, I was just coming here to report this...

[2019-08-13 13:53] anpaz-msft commented on #220
hey @cgranade , you were working on this, correct?

[2019-08-13 21:05] cgranade commented on #220
Thanks for the report! Looks like this was related to our image still being affected by the issue resolved with microsoft/iqsharp#27. I've rebuilt the images using the changes from microsoft/iqsharp#27 and pushed them, hopefully that should resolve the issue shortly.

@anpaz-msft: Yes, my apologies that this took a little longer than I thought to fix.

[2019-08-15 09:28] #220 closed

[2019-09-09 23:14] cgranade opened #225 "Some Chemistry samples use wrong path character on Unix-like platforms (Linux, macOS ,WSL, devcontainers)"
**Describe the bug**
The `AnalyzeHamiltonian` and `RunSimulation` samples for the chemistry library currently use `\` as a path separator, regardless of the current host OS.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd` to either `Chemistry/AnalyzeHamiltonian` or `Chemistry/RunSimulation`.
2. Run `dotnet run`.

**Screenshots**
[code]

**System information**
 - OS: Windows 10, working

[2019-09-12 11:19] hperlt opened #227 "Manual for Q#?"
Is there  a detailed manual or description of all built-in functions used in Q#? In the samples one can find only selected functions with arguments for the selected problems.

[2019-09-12 13:33] #227 closed, assigned to nobody

[2019-09-19 17:38] #225 closed

[2019-09-30 17:09] endeffects opened #229 "K-Means"
Is there any sample for a k-means algorithm available?

[2019-10-02 17:54] emzatos commented on #229
@endeffects I would like to ask for clarification on what you are looking for in a k-means implementation. Searching on Google, I found one implementation described [here](https://towardsdatascience.com/quantum-machine-learning-distance-estimation-for-k-means-clustering-26bccfbfcc76) that simply replaces the distance function with quantum technology, essentially providing something very simple to

[2019-10-02 20:36] bethz opened #230 "Clicked launch binder and it caused an error, manifest not found"
**Describe the bug**
Clicked launch binder and it caused a manifest not found error.

( different than #220)
![image](https://user-images.githubusercontent.com/6098674/66079712-9ad0a000-e532-11e9-8f0c-c6d8e03d0f60.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/microsoft/Quantum
2. click launch binder
3. See error

**Expected behavior**
Expected it to launch in

[2019-10-02 22:34] apaetz opened #231 "ForEach is missing"
ForEach appears in the side-bar TOC, but not on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41a46705-6851-dc23-88d0-9a00da1feeef
* Version Independent ID: 6b01edf7-4feb-717f-1c95-8c356b77b61a
* Content: [Microsoft.Quantum.Arrays - Q# reference - Microsoft Quantum](https://docs.microsoft.com/en-us/qsharp/a

[2019-10-02 23:20] apaetz commented on #231
Nevermind.  It's in the Operations section.

[2019-10-02 23:20] #231 closed

[2019-10-03 08:12] endeffects commented on #229
Thanks for your response, well i was looking for a sample to cluster data.

[2019-10-03 12:04] cgranade opened #233 "Add Python host programs to more samples."
Currently, most samples only have a C# host program. It would be nice if more or even most samples demonstrated how to use Python to call into Q#.

[2019-10-03 13:57] #230 closed

[2019-10-10 17:09] bromeg commented on #233
We are working on a samples re-organization, it would be best for those interesting in helping with this issue to work on it after #235 has been merged.

[2019-10-11 00:04] so-suzuki-kke opened #238 "Why does it occur ExecutionFailException?"
An exception occurs in the following code. Are there any restrictions other than the exception message?

[code]
Microsoft.Quantum.Simulation.Core.ExecutionFailException: '`number` must be between 0 and 2^`bits` - 1'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b634ae91-1d6a-8f7f-80bc-ba24e5ec804b
* Version Independen

[2019-10-11 17:12] cgranade commented on #233
As per @bromeg's comment above, I think we're in a better place to add host programs now that #235 is in. ♥

[2019-10-11 20:56] deadmau6 commented on #233
Hello, are you still looking for help with this issue? Also this is my first time contributing to Open Source but this seems like a simple issue.

[2019-10-15 16:11] cgranade commented on #233
@deadmau6: Thanks for your patience, we'd definitely appreciate help with this one! We recently added several Python host programs to the samples in the [`getting-started` folder](../blob/master/samples/getting-started), but there's a number of samples that still only have C# host programs. A good place to start might be with the [`bit-flip-code` sample](https://github.com/microsoft/Quantum/blob/m

[2019-10-18 15:54] deadmau6 commented on #233
**Update:**
Just giving a quick update here, so I finished the `bit-flip-code` and almost all of the samples in `algorithms/`. I did have an issue with `order-finding` in which the solution is maybe not the best and I can go into more detail either here or in a PR. Anyways I should be able to get a lot more done over the weekend because I don't have to work.

**Questions:**
I do have a quick quest

[2019-10-18 16:01] cgranade commented on #233
Thanks, @deadmau6! For `order-finding`, if it would be helpful I'm happy to take a look in a PR and offer what suggestions I can. As for PR style, I don't think there's a huge advantage either way for having one big PR or several small ones in this case; whatever works best for you.

Thanks for the suggestion of a sub-issues list, probably the easiest way to do that is for me to edit the original

[2019-10-27 17:58] deadmau6 commented on #233
@cgranade, quick update, sorry it has taken me so long. I am nearly complete with all of the samples, but I hit a wall with most of the chemistry samples. I feel like I am missing something like a library, but I have everything done except for `GetGateCount`, `CreateHubbardHamiltonian`, `SimulateHubbardHamiltonian`, `RunSimultation`, and `MolecularHydrogen`. Anyways can I submit a PR for what I ha

[2019-10-28 02:33] bethz opened #259 "Teleportation sample generates an exception"
**Describe the bug**
The C# Teleportation sample has an exception.
It was referenced [here](https://github.com/microsoft/Quantum/blob/master/README.md).

**To Reproduce**
Steps to reproduce the behavior:
1. docker run -it --name iqsharp-container -p 8888:8888 iqsharp /bin/bash

2. cd ~/samples/getting-started/teleportation && python host.py
3. it ran but noted
Released qubits are not in zero state

[2019-10-31 16:58] cgranade commented on #233
My apologies for the delay, @deadmau6, just getting spun back up after a vacation. In any case, the chemistry host programs are definitely the hardest to adapt, as there's a lot of pre- and post-processing that happens in the classical hosts to load problem descriptions. Especially given planned simplifications such as #203, I agree with making a PR for the other host programs for now, that sounds

[2019-10-31 21:00] cgranade commented on #259
Thanks for the report, @bethz! Looks like this was a case of accidentally writing `M` instead of `MResetZ`; it should be fixed incidentally with #256, in any case.

[2019-10-31 21:25] deadmau6 commented on #233
Awesome! And no worries I'll submit the PR once I get home tonight.

[2019-11-04 16:44] samneefs commented on #114
SDK resolver didn't exist (C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\Common7\IDE\CommonExtensions\Microsoft\NuGet\Microsoft.Build.NuGetSdkResolver.dll)
@jgilpin 's command added the needed file.

[2019-11-05 22:16] alexeib2 opened #265 "Round() documentation flaw"
https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.math.round?view=qsharp-preview

says “Rounds a value to the nearest integer or to the specified number of fractional digits.” But there is no argument for the ‘number of fractional digits’

[2019-11-18 20:53] MDHarmse15 opened #269 "I cannot install iqsharp."
**Describe the bug**
I am using visual studio code and have the necessary .NET installed (3.0) and I have installed the Quantum tool but when i get to the next line: dotnet iqsharp install, I obtain the following error:

Traceback (most recent call last):
  File "c:\users\michael m harmse\appdata\local\programs\python\python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spe

[2019-11-23 21:16] crazy4pi314 opened #271 "LaTeX rendering is broken"
It seems like most all of the LaTeX math rendering for these pages is broken, see on this page \ket in the first line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 139b4939-525f-d0b4-40e4-c912f5fcff48
* Version Independent ID: b00ec85c-4a1f-9706-3ea6-921e4f463d6c
* Content: [R1 operation (Microsoft.Quantum.Intrinsic)

[2019-11-24 12:00] hishikitetsuya opened #272 "Some commands are shown as text"
\ket, \braket, and \boldone are shown as plain text, rather than equations.

![screenshot](https://user-images.githubusercontent.com/6519947/69494308-5099e880-0efd-11ea-8f50-2e59bfa2d8ea.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa16f624-d069-8384-a57d-b2c5be9513b0
* Version Independent ID: 7ac6e461-00e4-bdcf

[2019-11-24 13:32] cgranade commented on #272
Thanks for reporting this, @hishikitetsuya! It looks like this is a duplicate of issue #271, so I'll go on and close this as a duplicate so that we can track the work there. Please feel free to re-open if that is incorrect. Thanks again for the help!

[2019-11-24 13:32] #272 closed

[2019-11-26 12:14] sam-jaques opened #273 "Constructor on type not found"
**Describe the bug**
Constructing a function `(Int -> 'T)` for a parameterized type `'T` and passing it to another operation causes an issue when the function is called.

**To Reproduce**
Steps to reproduce the behavior:

Call `ConstructFailure()` in the following code:

[code]

**Expected behavior**
`lookup` should be callable from within `LookupFailure`. Instead, it does not reach the second `Me

[2019-12-01 22:08] crazy4pi314 opened #274 "Documentation interlinking not working"
The deprecation warning comes up on this page, but the text below that I think should link to the suggested replacement function is not actually linked.

&gt; Please use @"Microsoft.Quantum.Arrays.Partitioned" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85fe4b23-dfdc-b39e-82f2-c6338019c37f
* Version Indepen

[2019-12-09 18:58] numpde commented on #271
bra-ket notation renders on [this page](https://docs.microsoft.com/en-us/quantum/concepts/dirac-notation?view=qsharp-preview) but not on the page [cited](https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.intrinsic.r1?view=qsharp-preview#feedback) in this issue.
Looking at the source, there is MathJax.Hub.Config that includes definitions of TeX macros for ket/bra/braket/etc. Mayb

[2019-12-09 19:32] cgranade commented on #233
Thanks again for your contribution, @deadmau6! I think that brings us down to just missing Python hosts for the chemistry samples, so I'll go on and update the title/description accordingly.

[2019-12-09 21:48] cgranade commented on #259
I've confirmed that this has now been resolved in local testing, but please feel free to reopen the issue if you run into it again. Thanks for your report! ♥

[2019-12-09 21:48] #259 closed

[2020-01-01 04:33] HadamardGate opened #290 ""error activating the remote language server. Q# Language Extension""
1) Installed a fresh Visual Studio 2019.
2) Added latest Q# from under "extensions"
3) Created Q# application "project, new, q# console app"
4) Compile

Gives "error activating the remote language server. Q# Language Extension" on every compile.

This was reported by someone else on (now close) issue #116 back in 2018 for VS 2017. In that case it was fixed with an update. Maybe this is a regressio

[2020-01-09 22:56] kylekampy commented on #114
I was able to get around this issue by simply running the "Repair" option from the Visual Studio Installer. It dropped in the missing .dll for me.

[2020-01-21 02:55] ValeskyRomanov opened #304 "Entanglement measurements"
Hello, I'm new to Q# but i have a bit of quantum background (I took 2 semesters of quantum mechanics as an undergrad).

I've been working through the example/quick start (https://docs.microsoft.com/en-us/quantum/quickstart?view=qsharp-preview&tabs=tabid-csharp#prepare-entanglement) and noticed that we are checking the entangled qubits to have the same value:

`if (M(q1) == res) {
    set agree +=

[2020-01-21 02:56] ValeskyRomanov commented on #304
Oh and when creating a new issue, the default template asks to submit instead on https://quantum.uservoice.com/ which is no longer a valid method. FYI.

[2020-01-22 01:20] cgranade commented on #304
Welcome, and thanks for joining the Quantum Development Kit community! ♥

In the linked quickstart, the two qubits are prepared in an entangled state using the following instructions:

[code]

Since by convention, freshly allocated qubits in Q# start off in the |0⟩ state, the first step prepares `q0` and `q1` in the state (|0⟩ + |1⟩) / √2 ⊗ |0⟩, while the second step prepares `q0` and `q1` in the

[2020-01-22 01:20] #304 closed

[2020-01-22 04:18] ValeskyRomanov commented on #304
Fantastic answer, thank you! It's been a few years since university and I had forgotten about parity.

[2020-01-27 22:12] cgranade commented on #271
Closing, as I believe this has now been fixed. Please feel free to reopen if the issue has not been resolved. Thanks for reporting!

[2020-01-27 22:12] #271 closed

[2020-02-01 19:13] malimban opened #310 "No such kernel named iqsharp"
**Describe the bug**
Python is unable to run commands after _import qsharp_, probably because the attempt to **dot iqsharp install** from the command line failed (see Screenshot 1)

I suspect there is some jupyter configuration error.

**To Reproduce**
Following the instructions on [_Develop with Q# and Python_](https://docs.microsoft.com/en-us/quantum/install-guide/pyinstall?view=qsharp-preview):

[2020-02-16 17:52] geduardo opened #315 "Sample Wine of QML library stuck in training"
**Describe the bug**
Sample Wines of Quantum Machine Learning gets stuck at "Beginning training at start point #0..."

**To Reproduce**
Steps to reproduce the behavior:
1. Run the sample Wine of the branch "feature/qml"

**Expected behavior**
Complete the training as it does in the sample Half moons, that works correctly.

**Screenshots**
If applicable, add screenshots to help explain your problem

[2020-02-18 04:28] isaac-gs opened #316 "State-Visualizer: 'QsMain' does not exist in the current context"
**Describe the bug**
Operations in .qs files are not recognized in the project. If I place the quantum code in a project where the sdk is set to Microsoft.Quantum.Sdk/0.10.2001.2831 (in the csproj file) it works fine. All other projects under "samples" build fine, so I think it's related to the use of "Microsoft.NET.Sdk.Web". When it does fail, the following is what I get.

**Program.cs(21,32): er

[2020-02-18 17:18] cgranade commented on #315
It's in general significantly slower than half-moons just due to the much larger data set. On some systems, we've seen that setting the `OMP_NUM_THREADS` environment variable to `1` can help, as the OpenMP-based parallelization can sometimes be ineffective for small numbers of qubits.

[2020-02-21 00:23] geduardo commented on #315
How long should it take? I set  OMP_NUM_THREADS=1 and it's been running for more than one hour and still is stuck in the same step as the image. For comparison, half-moons takes 1-2 min to complete.  We should make sure that the first example on the QML library is clear and runnable in "acceptable times in reasonable hardware", if not it can create confusion with the user not being sure if it is r

[2020-02-21 01:21] cgranade commented on #315
Alex raised the point that the optimization landscape may be unfavorable for this particular example such that some unlucky parameter selections may take a little while. I’m still in the process of further diagnosing the performance issue for this sample, my apologies for the delay.

[2020-02-21 01:49] marshallsa commented on #316
Hi @isaac-gs, just wanted to confirm some more information about the bug:

1. Does it happen in a freshly cloned copy of the repository, with no changes to the files before running `npm install`, `npm run release`, and `dotnet run`?
2. What version of .NET Core are you using? You can see it with `dotnet --version`.
3. Could you save the output of `dotnet build --verbosity detailed` to a file and a

[2020-02-21 01:57] cgranade commented on #315
This issue may be related: https://github.com/microsoft/qsharp-runtime/issues/150
It looks like that may also explain some of the odd profiling behavior seen when trying to analyze the problem.

[2020-02-21 12:53] geduardo commented on #315
Ok, thanks! I'll keep an eye on this, but maybe it is more convenient to change to the half-moons example for now for the QML library introduction. What do you think?

[2020-02-21 16:37] cgranade commented on #315
I think that makes sense even without the performance issue. Half-moons is a bit more explicit and easier to get into, I think?

[2020-02-22 04:53] isaac-gs commented on #316
Yeah it still happens on a fresh clone with no changes.

.NET Core Version: 3.1.101

[verbose_build.txt](https://github.com/microsoft/Quantum/files/4238818/verbose_build.txt)

[2020-02-23 01:17] cgranade commented on #315
As an update, I think the performance issue should be resolved by #234. That will take updating the packages used by the sample, but once CI completes on that PR we should be able to update the two QML samples as well.

[2020-02-24 21:23] geduardo commented on #315
With the new verbose update, it's clear that it doesn't get stuck. However, it still takes very long, but I guess is the expected behavior.

[2020-02-25 18:05] cgranade commented on #316
We just saw another example yesterday of problems arising from spaces in folder names, perhaps this is related to https://github.com/microsoft/qsharp-compiler/issues/333?

[2020-03-21 19:00] sushantp opened #331 "Installation of Q# dependants in linux mint"
I am trying to install Q# python in linux mint 19.
While passing command: "dotnet iqsharp install", I am getting the following error: The required library libhostfxr.so could not be found. Do I need windows operating system only. I am using Linux Mint 19.3.

[2020-03-22 22:52] cgranade commented on #331
@sushantp: Q# can definitely be used with Python from Linux as well as Windows. We've only tested on Ubuntu, but many users have been able to use with other distributions as well. From your error, it sounds like you may not have set the `DOTNET_HOME` variable when installing the .NET Core SDK, perhaps? For more details, I find https://natemcmaster.com/blog/2018/02/02/dotnet-global-tool/ to be a re

[2020-03-27 18:13] houseofcat opened #332 "Visual Studio 2019 (v16.5.1) Is Having Issues in Q# Applications."
**Describe the bug**
IntelliSense language server crashes for Q# and remains permanently broken.

**To Reproduce**
- Created new QSharpApplication from template.
- Debugged application one time to see it work - that was successful.
- Opened Driver.cs
- Switched Main to async Task and saved.
- Debugged application again.
- Received an IDE error and project fails to compile now.
- Reverted changes -

[2020-04-06 16:30] sdf94 commented on #233
@cgranade Can you assign me to CreateHubbardHamiltonian?

[2020-04-17 13:57] kobaltic opened #336 "Building for 3rd party application"
I apologize as this isn't the correct area for this question. I can't find a forum, subreddit or discord channel for QDK. If there is one please let me know.

I decided to create an API for video game engines. I am starting with Unity (as it is C#) and then moving to UE4.

I have built a release version of the QDK in VS2017 and have the complied dlls. I added the dlls to my project and I added the

[2020-04-17 23:41] muslumzaric commented on #142
tebrikler

[2020-04-27 23:33] cgranade commented on #315
Closing, as we've made significant performance improvements with #234 and as verbosity helps in communicating progress to users. Thanks!

[2020-04-27 23:33] #315 closed

[2020-04-27 23:37] cgranade commented on #316
@isaac-gs: I just wanted to quickly confirm if moving the same to another folder helped resolve the issue. Thanks!

[2020-05-09 03:57] deonlewisduke commented on #316
I'd reproduce the big for you but the only thing I can play with is QUIRK cause it works on $50 phone. I'm working a file structure for using the quantum effect as I'm calling where the programs have the appeared ability to violate what we know as possible, or what we can process with our strange units. Maybe, one day the half a million hackers who sabatoged my life will be taken care of.

[2020-05-09 04:38] isaac-gs commented on #316
@cgranade yes, it works. Sorry for the late reply, I've been busy. Thank you both for the help.

[2020-05-14 22:20] dgwvfxn opened #354 "Add Orbital Symmetry in BroomBridge v0.3"
It would be helpful to have a "orbital symmetry" item in problem_description in the BroomBridge v0.3. to reflect the irreducible representation of each orbital. Such feature could be useful in property analysis for molecules with symmetry.

[2020-05-19 08:28] TheOnlylight opened #356 "The vscode cannot find the quantum dependencies after installed"
**Describe the bug**
A clear and concise description of what the bug is, and which sample or samples you encountered the bug in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expla

[2020-05-19 08:34] TheOnlylight commented on #356
my bad, the desired version of the .net is supposed to be 3.1.x

[2020-05-19 08:34] #356 closed

[2020-05-19 08:42] TheOnlylight opened #357 "Namespaces cannot be found while the program runs normally"
I use the vscode on Win10, with .net 3.1.4
the VScode reported red on the namespaces fro Q#, however the program managed to build and run properly ,this is so werid
![image](https://user-images.githubusercontent.com/24605645/82305080-c637ca80-99ef-11ea-9edb-6179de5c6141.png)
![image](https://user-images.githubusercontent.com/24605645/82305088-c932bb00-99ef-11ea-8ef8-8ed5f3d8ea4b.png)

[2020-05-19 15:35] cgranade commented on #357
Thanks for the report, @TheOnlylight! I'll go on and transfer this to the qsharp-compiler repo where we track extension issues, but in the meantime, would you be willing to share the contents of the Q# Language Extension tab of the Output pane? You can get to this pane by going to View → Output, then selecting "Q# Language Extension":

![image](https://user-images.githubusercontent.com/31516/82346

[2020-05-21 07:21] anpaz-msft commented on #336
hi @kobaltic,
Sorry for the late response! The simulator is built for the x64 platform and will fail to load if on `Any` or 32 bits applications. Could this be the problem? Any other information in the logs?
Curious, what are you planning to use the simulator for?

[2020-05-21 10:29] cloudmelon opened #360 "Could not install iqsharp into your Jupyter configuration, Could not install iqsharp into your Jupyter configuration, as `jupyter` was not found on your PATH."
Use **dotnet iqsharp install**  get below error and already installed Python 2.6 and 3.7 as well as Anaconda

Doc URL
https://docs.microsoft.com/en-us/quantum/install-guide/pyinstall

**Describe the bug**
A clear and concise description of what the bug is, and which sample or samples you encountered the bug in.

[ERROR] Could not install iqsharp into your Jupyter configuration, as `jupyter` was no

[2020-05-21 10:56] #360 closed

[2020-05-21 10:58] cloudmelon commented on #360
To resolve this problem, need to reboot after installed Python 2.6 and 3.7 as well as Anaconda, also need to make sure if VSCode was pointed to the right Python version ( 3.7 in my case ).
Best practice is :
Also create Python virtual env when install qsharp and test Q sharp program in the env ( if you've chosen Python to play with Q# like me )

[2020-05-21 19:27] rmshaffer commented on #360
Thanks for trying Q#, and thanks for sharing your solution to this issue!

[2020-05-22 00:18] bentoper opened #362 "VSCode not finding libraries"
I've recently tried to install the QDK via the VSCode extension in both my linux (Ubuntu 19) laptop and my Windows 10 Desktop and in both cases VSCode wasn't able to find the Microsoft libraries even after I was able to execute the code by the `dotnet run` command on the terminal. The code was the sample project code described in the [create new project](https://docs.microsoft.com/en-us/quantum/in

[2020-05-23 00:01] kobaltic commented on #336
@anpaz-msft No problem. Yes I built it for 64 bit. I have the whole log here [http://kobaltic.com/QDK/Player.log](url)
My plan is to be able to code server side functions for video games through an easy to use API. My hope is that the code will transition seamlessly from the simulator to an actual quantum computer. One of the first things I am looking into doing is develop AI for highly complex ga

[2020-05-26 14:00] gillenhaalb opened #363 "Browse samples page: titles rendering with "Q\#" instead of "Q#""
Looks like the escape character is getting included in the titles. This is both on the browse page and the individual pages.
E.g.:
https://docs.microsoft.com/en-us/samples/browse/?languages=qsharp
https://docs.microsoft.com/en-us/samples/microsoft/quantum/run-q-programs-from-python-or-net/

[2020-05-26 16:39] cgranade commented on #363
Good catch, thank you! I've tried to fix that in some places, but I think this likely got introduced when moving from [atx_closed style](https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md#md003) (leading and trailing `#` characters) to atx style (leading `#` characters only) for heading, as an atx_closed header ending with Q# looks like an atx header ending with Q. Unfortunately,

[2020-05-27 15:10] kobaltic commented on #336
I did some experimenting a tried this on 4 computers. It worked on 3 computers. The 3 that it worked on all had VS2017 installed. The one it did not work on did not have and VS installed. I wonder if it needs a file from VS or a redistributable  installed.

[2020-06-07 16:22] mushokunosora opened #365 "MathJax/LaTeX not rendering on Reference pages"
It seems that on all of the reference/documentation pages the matrices/equations are not being rendered. For example pages like
https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.canon.cx
https://docs.microsoft.com/en-us/qsharp/api/qsharp/microsoft.quantum.intrinsic
show things like `\begin{align} \operatorname{CNOT} \mathrel{:=} \begin{bmatrix} 1 & 0 & 0 & 0 \\ 0 & 1 & 0 & 0 \\

[2020-06-09 18:19] #365 closed

[2020-06-13 05:28] jainvasu631 opened #367 "Conversion Questions"
How to find size i.e. number of bits of LittleEndian.
How to convert LittleEndian to Qubit[]?
How to access bits in LittleEndian?

[2020-06-13 05:41] cgranade commented on #367
A value of type `LittleEndian` isn't itself an array, but wraps a value of type `Qubit[]`. Thus, to find the length of the underlying register wrapped as a `LittleEndian` value, you can use the [unwrap operator (`!`)](https://docs.microsoft.com/quantum/user-guide/language/expressions#unwrap-expressions) to get back an array that you can pass to `Length`. For instance, `Length(register!)` works for

[2020-06-13 05:42] cgranade commented on #367
Thanks for your question, and please feel free to file an issue here if you find a problem with the samples or have a feature request. We're also always happy to answer questions you may be both here, and on external sites such as https://quantumcomputing.stackexchange.com/ or https://gitter.im/qsharp-community/community. Thanks!

[2020-06-13 05:42] #367 closed

[2020-06-14 19:06] amirebrahimi opened #369 "No commenting support in VS2019"
**Describe the bug**
With the QDK added to VS 2019 I find that I have to manually comment/uncomment lines. I don't see an option in there for commenting whole blocks.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a block of text in a .qs file
2. Click on Edit -> Advanced
3. Notice that there is no option to block comment

**Expected behavior**
I'd expect that selecting a block of te

[2020-06-15 08:09] sabarinathh opened #370 "Incorrect phase mentioned in documentation"
S gate does a pi / 2 phase shift. Its written as pi / 4 in the documentation.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e68e0e4d-b557-f947-a9c7-870f9fc3370e
* Version Independent ID: 31ec5ee4-913f-1467-dded-d10cf1e6c492
* Content: [S operation (Microsoft.Quantum.Intrinsic) - Q# reference - Microsoft Quantum](https:

[2020-06-15 15:50] vadym-f opened #371 "11 input for CX"
It seems '11' input is missing in the truth table.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5925baf7-4435-0027-80b7-8123de4c95a1
* Version Independent ID: e5004bc5-54da-b127-3021-df1b72924881
* Content: [CX operation (Microsoft.Quantum.Canon) - Q# reference - Microsoft Quantum](https://docs.microsoft.com/en-us/qsh

[2020-06-17 12:16] jainvasu631 commented on #371
I think the problem is not with the input but incorrect rendering of CX Unitary

[2020-06-17 16:34] cgranade commented on #371
Thanks for highlighting this, it looks like there's a missing `\left(\begin{matrix}` / `\end{matrix}\right)` in the LaTeX source used to typeset this comment. As this is API documentation, it will need to be fixed in the Q# source at https://github.com/microsoft/QuantumLibraries/blob/master/Standard/src/Canon/CommonGates.qs#L10.

[2020-06-17 16:35] cgranade commented on #371
@KittyyeungQ: It looks like this one got incorrectly redirected to microsoft/quantum instead of microsoft/quantumlibraries; we should fix that in the `.openpublishing.config.json` file on the docs repo.

[2020-06-18 20:03] samarsha commented on #316
I found the cause of microsoft/qsharp-compiler#333, and I think that this bug is actually separate from that, so I'm reopening this.

[2020-06-19 01:42] samarsha commented on #316
The bug should be fixed by microsoft/qsharp-runtime#268, but the package references here will need to be updated to use the new version of Microsoft.Quantum.Development.Kit.

[2020-06-20 07:13] msoeken opened #372 "Make explicit that BoolArrayAsBigInt conversion uses twos-complement semantics"
Unlike `BoolArrayAsInt` which always returns a positive integer, `BoolArrayAsBigInt` returns a negative integer if the most-significant entry is `true`, following twos-complement semantics. I suggest to make this explicit in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f48b50f-381a-197d-6761-f784fb544000
*

[2020-06-22 20:19] apm04 opened #375 "RippleCarryAdderCDKM not releasing qubits in zero state on completion"
I have converted the Jupyter notebook AdderExample.ipynb from
https://github.com/microsoft/Quantum/tree/master/samples/arithmetic
to a standalone program with a host.py and TestAdd.qs. (uploaded, remove '.txt')

[host.py.txt](https://github.com/microsoft/Quantum/files/4815384/host.py.txt)
[TestAdd.qs.txt](https://github.com/microsoft/Quantum/files/4815385/TestAdd.qs.txt)

The adder works as expect

[2020-06-24 15:46] msoeken opened #376 "Port order-finding sample to Q#"
Currently, the order-finding sample uses a C# host. This can be changed to a Q# host.

[2020-07-08 19:18] marktab opened #384 "Replacing with "opaque box""
Per https://docs.microsoft.com/en-us/style-guide/a-z-word-list-term-collections/b/black-box
suggest replacing with "opaque box"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44bfbe3c-0cee-b6a7-95b2-ef0707eb17be
* Version Independent ID: fe3e9d66-52ba-c730-6a4d-b9fc6a19011a
* Content: [Microsoft.Quantum.Oracles - Q# re

[2020-07-22 20:27] manav28 commented on #376
Could I take this one?

[2020-07-27 06:22] J1990 opened #388 "Adding circuit images for better understanding"
It would be nice to have an overview of inner working of each of the APIs in Microsoft Quantum Machine Learning library. Also for better intuition building, these articles can include images of example circuits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e62567-13c8-19c2-ba15-65920a49afb3
* Version Independent ID

[2020-07-27 16:13] cgranade commented on #376
@manav28: If you're interested, we'd definitely love a contribution to this one! A good place to start could be looking at the [contribution guidelines for code](https://docs.microsoft.com/quantum/resources/contributing/code), but we're also happy to answer questions here as well. Thank you!

[2020-07-31 23:01] manav28 commented on #376
Are there any examples of a Q# host for reference? Are we porting the Q# host to a .qs file or a jupyter notebook?

[2020-07-31 23:58] cgranade commented on #376
Most of the samples have been modified to use Q# standalone programs, as detailed in the [command-line part of the user guide](https://docs.microsoft.com/quantum/user-guide/host-programs?tabs=tabid-python#q-from-the-command-line). Happy to help if you have any questions, though, and we greatly appreciate the contribution!

[2020-08-01 12:54] yezz123 opened #391 "QDK Error"
I've recently tried to install the QDK via the VSCode extension in my Windows 10 Desktop and VSCode wasn't able to find the Microsoft libraries even after I was able to execute the code by the dotnet run command on the terminal. The code was the sample project code described in the create new project part of the tutorial. I also didn't have .NET SDK so I installed it but it seems to be working fin

[2020-08-02 19:47] christopherkang opened #393 "Need to use "Open" statement for every Jupyter Cell?"
[Not a bug report]

Is it necessary to use an "open" statement for every cell in Jupyter? For example, is there a way to globally import "Microsoft.Quantum.Arithmetic", so that the open statement doesn't need to be run on each cell beforehand?

[2020-08-02 20:36] cgranade commented on #393
@christopherkang: This just changed in the previous release, so that you can now have a single open cell apply across an IQ# notebook! Check out https://github.com/microsoft/iqsharp/issues/121 for more details and discussion. Thanks for raising this!

[2020-08-02 20:37] cgranade commented on #393
I'm going to go on and close this as a duplicate of https://github.com/microsoft/iqsharp/issues/121, but please feel free to reopen if that's not the case, or if there's any other details that would be helpful. Thanks!

[2020-08-02 20:37] #393 closed

[2020-08-04 01:03] rmshaffer commented on #393
Tagging another related issue: https://github.com/microsoft/iqsharp/issues/15.

[2020-08-05 23:33] christopherkang commented on #393
Awesome! I'll make sure I'm updated and check it out. Thank you both!

[2020-08-05 23:37] christopherkang opened #395 "Issue using NWChem Docker image on Mac"
**Describe the bug**
When using the instructions [here](https://docs.microsoft.com/en-us/quantum/user-guide/libraries/chemistry/samples/end-to-end) to convert NWChem output to Broombridge, the program fails with numerous error messages when running "Convert-NWChemToBroombridge"

I believe the issue is on this line:
https://github.com/microsoft/Quantum/blob/master/utilities/InvokeNWChem.psm1#L138

[2020-08-06 00:41] cgranade commented on #395
Thanks for raising this, @christopherkang. I suspect what happened is that some versions of PowerShell set up `mkdir` as an alias automatically while some don't, such that changing this line to use `New-Item -Type Directory` instead of `mkdir` should allow this script to work both on Unix-style systems (where `mkdir -p` is a great workaround!) and Windows-style systems where `mkdir -p` may not be

[2020-08-06 03:07] christopherkang commented on #395
I'm glad there's a straightforwards fix, @cgranade! Grateful for your fast and detailed responses 🚀

[2020-08-06 15:57] cgranade commented on #391
Thanks for the report, @yezz123. Would you be willing to share the exact code that you tried, and what error messages you got when you ran `dotnet run`? Thank you!

[2020-08-06 15:58] cgranade commented on #376
This should be closed thanks to #392. Thank you so much, @manav28!

[2020-08-06 15:58] #376 closed

[2020-08-06 16:03] cgranade commented on #370
Thanks for raising this; as discussed at microsoft/qsharp-runtime#258, the documentation is correct as written, as the `S` operation can be described by the matrix 𝑆 = (1 0 \\ 0 𝑖). Please feel free to re-open this issue if there's something that we missed. Thank you!

[2020-08-06 16:03] #370 closed

[2020-08-06 16:04] cgranade commented on #375
Thanks for raising this, I believe that this should be addressed by https://github.com/microsoft/QuantumLibraries/pull/303, but please let us know if the issue persists for you. Thank you!

[2020-08-06 16:04] #375 closed

[2020-08-07 23:35] superkirill commented on #233
@cgranade, is SimulateHubbardHamiltonian still open for contributions?

[2020-08-08 12:04] ShaunJW360 commented on #233
@cgranade Would it be possible to contribute?

[2020-08-10 10:57] msoeken opened #398 "See also and namespace links are broken"
The namespace (in the top of the page right under the title) is all lowercase and has no link to the namespace page (not sure whether this was there before).

Similarly, the references for "See also" in the bottom of the page are not linked and all set lowercase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 308bae21-

[2020-08-10 10:57] msoeken commented on #398
After filing the issue, I noticed it is placed in the Quantum repository. Should this be moved to the docs repo?

[2020-08-10 19:28] cgranade commented on #233
Yep! If you're interested in contributing, the relevant folder is at https://github.com/microsoft/Quantum/tree/master/samples/chemistry/SimulateHubbardHamiltonian. That sample currently only has a [C# host](https://github.com/microsoft/Quantum/blob/master/samples/chemistry/SimulateHubbardHamiltonian/Program.cs), but it should be adaptable to a Python host since it doesn't rely on project reference

[2020-08-10 21:09] guenp opened #400 "TypeError when exiting ipython prompt after importing qsharp (in samples Docker container)"
**Describe the bug**

When working inside a Docker container using the samples image, after importing qsharp and exiting ipython, a `TypeError` is thrown.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start Codespaces environment based on Quantum repo
2. run `ipython`
3. run `import qsharp`
4. run `exit`

**Expected behavior**
Clean exit, no error messages

**System information**

[2020-08-10 23:36] #400 closed

[2020-08-11 01:09] #395 closed

[2020-08-11 23:48] superkirill commented on #233
Yes, I want to take a look at this then. Thanks, @cgranade!

[2020-08-14 08:07] anpaz-msft commented on #384
@KittyYeungQ can we fix this?

[2020-08-14 10:47] KittyYeungQ commented on #384
@anpaz-msft Consulted team implementing site-wide changes. This term is not listed to be changed.

[2020-08-14 10:47] #384 closed

[2020-08-14 23:54] samarsha commented on #316
StateVisualizer.csproj no longer uses the Microsoft.Quantum.Development.Kit package, so I think this bug is resolved now.

[2020-08-14 23:54] #316 closed

[2020-08-16 13:05] deepankarpal1985 opened #404 "import qsharp issues"
**Describe the bug**
python -c "import qsharp" gives the following error

**To Reproduce**
python -c "import qsharp"

**Expected behavior**
Gives an error on trying to enable the qsharp environment in conda using
python -c "import qsharp"
Ideally should pass

**Error**
Preparing Q# environment...
Access to the path 'C:\WINDOWS\system32\LogFiles\WMI\RtBackup' is denied.

**Screenshots**
If applicab

[2020-08-25 00:20] mitratul commented on #391
I think what @yezz123 reported is similar to this: https://stackoverflow.com/questions/53925337/q-intellisense-errors. the program still runs fine with dotnet run.
I got it the last week too. Following is the exact code sample, and version details:
Right now I am at the basics of Q#, so I can just keep typing by looking at sample code. However, when I start writing new code, having the VSCode inte

[2020-08-31 23:51] csferrie opened #421 "Quantum State Tomography module"
**Feature Request**
Quantum State Tomography module (and similar Quantum Characterisation, Verification, and Validation modules).

**Functionality**
- generate random states according to a variety of distributions
- specify POVM measurement sets
- simulate outcome of "prepare-and-measure" experiments
- invert data to produce estimate of the quantum state using a variety of common state reconstruct

[2020-09-01 21:48] guenp opened #422 ""Intro to QSharp" samples"
While the samples serve the purpose of demonstrating the usage of the language, it would be useful to have samples that explicitly demonstrate commonly used QSharp syntax, or even demonstrate more advanced syntax examples, without necessarily producing a useful algorithm. The goal is to make it easy for developers who learn by reading other code to pick up the language quickly.

Some examples:
* `

[2020-09-02 23:31] cgranade commented on #421
That would make a very cool sample, @csferrie. Thanks for the suggestion! I think there's a couple feature requests I could extract that would be needed to support and implement that sample:

This would likely require a library operation that reduces POVMs to be performed to the basic measurements built-in to Q# (that is, to measuring half-spaces of tensor products of Pauli operators).

If I under

[2020-09-17 01:49] tcNickolas opened #426 "State visualizer sample readme is outdated"
**Describe the bug**
The readme at https://github.com/microsoft/Quantum/tree/main/samples/runtime/state-visualizer looks out of sync with the code. The instructions suggest to edit Program.qs file, looking for QsMain operation, and neither exist. (Instead, the visualizer picks up whichever Q# operation is called from Program.cs, and in the sample this operation is from a different sample, rather t

[2020-09-18 10:54] jamessdixon opened #429 "Ability to run a Q# script"
I just created  my 1st Q# project in Codepsaces (beta) on GitHub following the "Develop With Q#" section found [here](https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode).  I noticed that I had to create a console application.  Is there any way to create a Q# script (.qsx file) like I can do with F# and a .fsx file and use a REPL to work in the quantum langu

[2020-09-18 16:14] crazy4pi314 commented on #429
Some folks in Q# Community have also have submitted to repl.it to add Q# support for no install experiences like what you are describing: https://repl.it/language-requests/p/q

[2020-09-18 16:26] jamessdixon commented on #429
I upvoted the thread

[2020-09-21 07:26] born-2learn opened #430 "Microsoft.Quantum.MachineLearning dependency mismatch"
**Facing issues while running the HalfMoonModel example form Microsoft Quantum Docs**
I have tried out this [Microsoft Docs](https://docs.microsoft.com/en-us/quantum/user-guide/libraries/machine-learning/basic-classification?tabs=tabid-python) post for a machine learning application on HalfMoonModel.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `python host.py` in [this](https://githu

[2020-09-24 04:07] tcNickolas opened #432 "Some READMEs are outdated (new samples missing)"
Here are some examples:
* [Root README](https://github.com/microsoft/Quantum/blob/main/README.md) is missing machine learning category of samples
* [README in algorithms](https://github.com/microsoft/Quantum/blob/main/samples/algorithms/README.md) is missing `repeat-until-success` and `sudoku-grover`
* [README in diagnostics](https://github.com/microsoft/Quantum/blob/main/samples/diagnostics/READM

[2020-09-29 18:49] rmshaffer commented on #430
Hi @born-2learn, thanks for reporting!

Can you try using the latest version of that sample?
https://github.com/microsoft/Quantum/tree/main/samples/machine-learning/half-moons

The issues you are describing should be addressed in the current version. Specifically, calling `import qsharp` from Python will now automatically read in the `PackageReference` items from `HalfMoons.csproj`, which should f

[2020-10-02 17:27] cgranade commented on #429
Thanks for filing this suggestion, @jamessdixon. If it's alright, I'll go on and transfer this feature request to the compiler repository. In the meantime, as a workaround, you can use the Python interoperability feature of the Quantum Development Kit to run files as though they were Q# scripts. In particular, the [`qsharp.compile` function](https://docs.microsoft.com/en-us/python/qsharp-core/qsha

[2020-10-08 08:15] vivekmthr commented on #432
Hi! I'd like to try this : ) This would be my first commit. Do you have any reccomendations on where to start?

[2020-10-08 17:18] cgranade commented on #432
@vivekmthr: Thanks for your help! We're still putting together some concrete guidance on how to write good READMEs, but in the meantime, the [README for `samples/algorithms/chsh-game`](https://github.com/microsoft/Quantum/tree/main/samples/algorithms/chsh-game) can be a good place to start, as that README has a lot of what we're hoping to have for new READMEs as well:

- Metadata used to onboard s

[2020-10-09 17:07] vivekmthr commented on #432
Cool! Super excited! I'll get on it tommorow : )

[2020-10-10 12:12] mbuchberger1967 opened #436 "Error in formula"
[Enter feedback here]
The formula for the unitary is obviously missing a closing $$

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7289478b-1f27-a835-11af-689ce1dcab12
* Version Independent ID: e8f3ba17-72b0-8492-a584-976f905e7505
* Content: [MultiplexPauli operation (microsoft.quantum.canon) - Q# reference - Microsoft

[2020-10-31 15:17] aishwarya-jhanwar-14 commented on #426
- On trying to modify the Program.cs file on line "visualizer.Run(SimpleGrover.SearchForMarkedInput.Run, 4L).Wait();"  and adding our own program with the namespace name it is showing error as "**'StateVisualizer' is a namespace but is used like a type.**" for line "var visualizer = new StateVisualizer(new QuantumSimulator());" .

- It is also showing dependency issues if run along with new progra

[2020-11-05 00:30] viktorveis opened #440 "Missing Microsoft.Quantum.Sdk after installing the Visual Studio QDK extension"
**To Reproduce**
Install the QDK extension for Visual Studio Code - works well
Install the QDK extension for Visual Studio on the same machine
Cannot open and build Q# projects anymore: error MSB4236: The SDK 'Microsoft.Quantum.Sdk' specified could not be found.

**Expected behavior**
Latest Microsoft.Quantum.Sdk is installed.

**Screenshots**
![image](https://user-images.githubusercontent.com/109

[2020-12-16 00:23] guenp opened #447 "Issue during Docker release process: Tool 'powershell' failed to install due to .NET version=v5.0 requirement."
**Describe the bug**
Build issue when building and releasing Docker image of samples repo.

[code]

**To Reproduce**
Go to the "Actions" tab and click on the build for the [latest release](https://github.com/microsoft/Quantum/actions/runs/392160105).

**Expected behavior**
Build and push the Docker image without issues.

[2020-12-20 00:27] rmshaffer commented on #447
FYI, I believe this was resolved by https://github.com/microsoft/Quantum/pull/445. The subsequent Docker image build succeeded ([see result here](https://github.com/microsoft/Quantum/runs/1518656461)). Should have tagged you there, @guenp, sorry about that!

[2020-12-20 00:27] #447 closed

[2020-12-21 17:13] guenp commented on #142
We're looking into this - tagging @ricardo-espinoza

[2020-12-21 17:14] guenp commented on #203
Thanks @cgranade for flagging, I'll look into this.

[2020-12-21 17:16] guenp commented on #229
Closing this issue since it looks like we don't have such a sample and are not planning to add one at this time. We are open for contributions though so feel free to re-open if anyone would like to help implement this.

[2020-12-21 17:16] #229 closed

[2020-12-21 17:19] guenp commented on #336
Tagging @erikkre @vxfield ; perhaps one of you could help answer this question?

[2020-12-21 17:20] guenp commented on #354
@dgwvfxn Are there any other features that you think will be useful to add to BB v0.3?

[2020-12-21 17:21] guenp commented on #362
@bentopereira Could you please confirm if this is still an issue with the latest version of the VSCode extension?

[2020-12-21 17:22] guenp commented on #363
Looks like this issue has been resolved in the meantime. Thanks @gillenhaalb for flagging and @cgranade for taking a look!

[2020-12-21 17:22] #363 closed

[2020-12-21 17:26] guenp commented on #391
This problem looks similar to this issue: https://github.com/microsoft/Quantum/issues/362
I am curious if this is still an issue with the latest version; I am not able to reproduce this.

[2020-12-21 17:26] #398 closed

[2020-12-21 17:28] guenp commented on #421
@cgranade it seems like having a simulator with noise would be a feature request here as well?

[2020-12-21 17:33] msoeken commented on #430
Looks like this issue was resolved, and we are closing it for now. Please feel free to reopen the issue, if it still causes problems.

[2020-12-21 17:33] #430 closed

[2020-12-21 17:35] msoeken commented on #432
@vivekmthr Just checking back with you, whether you found some time to look into one of the READMEs? I am happy to help, if I can.

[2020-12-21 18:52] kobaltic commented on #336
I have some updates. I took the dlls that come with 2019 redistributables and added them to my project. That worked and now it works on every windows computer I tested it on. I have heard that you are not allowed to package these dlls in your own project.

The next issue is that when I build it for Android, WebGl or IOS, it doesn't work. I suspect those dlls are making calls to other dlls on the w

[2020-12-22 03:57] vxfield commented on #336
QDK is built using .NET Core and it’s cross-platform, so there is not specific Windows dependency in it.
However, when building for Android, WebGL or iOS I guess you will need something like Mono to run .NET code in those platforms and then you might hit some issues running QDK over the Mono runtime as we don’t explicitly support that scenario (although it could be technically possible for you to

[2020-12-22 13:49] vivekmthr commented on #432
Hey yeah. I'm so sorry, got caught up in exams and stuff. I don't really have much experience with quantum computing, but I'm going to try and spend some time on it today, and update you.

[2020-12-22 14:51] msoeken commented on #432
Thanks @vivekmthr

[2020-12-22 15:28] kobaltic commented on #336
@vxfield Thank you. You are correct. I should keep QDK on the server. That should also make it easier to switch to an actual quantum computer. That would also solve my issues and allow me to build for other platforms.

I had planned on using a server down the road. I was trying to keep things as simple as possible while I was learning QDK.
Thanks again.

[2020-12-22 15:28] #336 closed

[2021-01-10 21:19] timgates42 opened #451 "Fix simple typo: inpus -> inputs"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine samples/algorithms/chsh-game/host.py.
2. Search for `inpus`.

# Expected Behaviour

1. Should read `inputs`.

Semi-automated issue generated by
https://github.com/timgates42/meticulous/blob/master/docs/NOTE.md

To avoid wasting CI processing resources a branch with the fix has been
prepared but a pull request has not yet been created.

[2021-01-31 20:00] kuzminrobin opened #460 "VSCode: Creating first Q# project fails"
On [this page](https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode), [Develop with Q#](https://docs.microsoft.com/en-us/quantum/quickstarts/install-command-line?tabs=tabid-vscode#develop-with-q) section, "VS Code" tab, the step **Q#: Create New Project** fails. Error message:

Noticed on Sunday 2021.01.31, it was working in the beginning of the week (2021.01

[2021-01-31 21:11] cgranade commented on #460
Thanks for filing this; transferring this issue to qsharp-compiler, where the extension is hosted. In the meantime, can you please provide the output from the Extension Host and the Q# extension?

![image](https://user-images.githubusercontent.com/31516/106398049-9259d500-63c5-11eb-96de-05cc1a071cee.png)

![image](https://user-images.githubusercontent.com/31516/106398051-938b0200-63c5-11eb-91db-36

[2021-02-01 16:39] fvirdia opened #462 "Feature request: qpic simulator for QCTraceSimulator optimal depth circuits"
Hi there,

We have been working on updating the Grover-blocks [1] source code [2] to adopt the changes made to the QCTraceSimulator since our release. In particular, the trace simulator can now output circuits minimising depth or width.

At the same time, I've been playing with the qpic-simulator [3]. We used it to generate a diagram [4] for the quantum circuit of the AES S-box. However, it seems

[2021-02-01 20:27] gokulsan opened #463 "Extending Q# Grover's Algorithm for QML implementation of XGBoost"
Is it possible to use the Q# implementation of Grover's Algorithm for XGBoost and similar kind of Gradient Boosting Algorithms. What would be the required Qubit configurations and Quantum Register Structure? This is inspired by the following question in the Quantum Computing Stack Exchange.

https://quantumcomputing.stackexchange.com/questions/2057/gradient-boosting-akin-to-xgboost-using-a-quantum

[2021-02-04 12:53] BeryLine opened #465 "VSCODE QuantumRNG from QDK still runs “Helloquantumworld!” instead of something like "Sampling a random number between 0 and 50: 42""
help regarding the issue below would be really appreciated :

following the steps of the QDK QuantumRNG I get stuck at some points : https://docs.microsoft.com/fr-fr/learn/modules/qsharp-create-first-quantum-development-kit/5-random-number-generator

when I run QuantumRNG code in VS Code, the terminal still generates "Helloquantumworld!" instead of something like "Sampling a random number between

[2021-02-05 07:46] #465 closed

[2021-02-05 07:47] BeryLine commented on #465
stupid me... I just had to "save" before to compile dotnet run...

sorry

[2021-02-11 19:40] giobb opened #466 "Connection error when listing targets in CLI"
Hi everyone

I always get the issue below on my work machine. This machine is the standard issue that's connecting to corpnet via MS VPN from home. It doesn't happen on my personal machine though. If it's not Quantum-CLI related, I'm just wondering why it's only on this particular subcommand, (the **workspace set** obviously works)

![Quantum - another issue](https://user-images.githubusercontent.

[2021-03-09 23:14] transdigiware commented on #466
@giobb You're good at working in yours own home, I don't have one so I use a rental machine in public rental internet (Warnet[warnet ](https://id.wikipedia.org/wiki/Warung_Internet) ) to be able to reach this complicated thing.

[2021-03-18 15:31] cgranade commented on #421
Going to on and transfer this to libraries as a feature request. Thank you!

@csferrie: In the meantime, we've been working on an _experimental_ open systems simulator in response to https://github.com/microsoft/qsharp-runtime/issues/504, hopefully that should help provide the functionality needed for this feature. If you have any feedback on the noisy simulator, we'd really appreciate it, thank y

[2021-03-18 15:37] cgranade commented on #462
@msoeken, I think you were looking at something along these lines recently?

[2021-03-18 15:38] cgranade commented on #391
Closing for now since we can't reproduce, but please feel free to reopen if you have additional information. Thank you!

[2021-03-18 15:38] #391 closed

[2021-03-18 15:43] cgranade commented on #466
Thanks for filing this, @giobb! I've gone on and transferred it to the repo used for the `az quantum` CLI commands, and will close this issue as a result. Thanks for the report!

[2021-03-18 15:43] #466 closed

[2021-03-19 08:10] msoeken commented on #462
This issue can be addressed by passing an explicit instance to `QubitManager` in

https://github.com/microsoft/Quantum/blob/76ee850d0f9b7dd39887d741ac7c2e17a6a1b75a/samples/runtime/qpic-simulator/simulator/Simulator.cs#L8

and set `encourageReuse` to `false`:

https://github.com/microsoft/qsharp-runtime/blob/1b726d6b41af86a50e544197dfa10858e8fea8f8/src/Simulation/Common/QubitManager.cs#L168

[2021-05-16 19:12] guenp opened #492 "Add Python host to QRNG sample"
Add a Python host program (host.py) to the QRNG sample in getting-started: https://github.com/microsoft/Quantum/tree/main/samples/getting-started/qrng

[2021-05-16 19:13] perryrivera commented on #492
I'll take a look, thanks!

[2021-05-17 17:12] #451 closed

[2021-05-18 21:13] #492 closed

[2021-05-19 04:57] msoeken opened #496 "QIR sample to automatically generate oracles from Boolean Q# functions"
Implementing quantum oracles is difficult. Classical oracles are described as black boxes in description of algorithms (see, e.g., Hamiltonian simulation, Quantum phase estimation, or Grover’s algorithm). While the *quantum parts* (reflection operator in Grover, QFT in QPE) of the algorithm are described in detail, the oracle is a black box placeholder for some classical function, for which no imp

[2021-05-19 11:33] tahazayed opened #497 "Quantum Deep Learning"
I have found:

1.  an archived repo https://github.com/microsoft/MLADS2018-QuantumML,  but it is outdated.
2.  https://github.com/microsoft/Quantum/tree/main/samples/machine-learningm but I am looking for a more advanced one.

Is there any sample for Deep learning?

[2021-05-19 15:30] cgranade commented on #497
@tahazayed: Thanks for your question! At the moment, our [Microsoft.Quantum.MachineLearning library](https://docs.microsoft.com/quantum/user-guide/libraries/machine-learning/) is focused on near-term applications, but if there's any particular deep learning topics you'd be interested in, we'd love to hear that feature request!

I'll go on and transfer this issue to the libraries repo so that we ca

[2021-05-27 18:41] GabrieleToffanin opened #502 "open Microsoft.Quantum.Arithmetic not showing Dividel operation for use."
Either for visual studio and visual studio code , when i am trying to get access to `Microsoft.Quantum.Arithmetic` operations the **operation DivideI** doesn't show up and there is no way to actually using it. Actually using Q# on Windows 10.

[2021-05-27 18:56] cgranade commented on #502
Thanks for the bug report! The `DivideI` operation is provided by the `Microsoft.Quantum.Numerics` package, as noted in the API documentation page at https://docs.microsoft.com/qsharp/api/qsharp/microsoft.quantum.arithmetic.dividei:

![image](https://user-images.githubusercontent.com/31516/119881664-63222300-bee2-11eb-8a01-6679080d7732.png)

Did you make sure to add a package reference to `Microso

[2021-05-29 02:46] cgranade opened #504 "Improve consistency of code style, terminology"
**Describe the bug**
Some of the samples are inconsistent with respect to Q# coding style and terminology, such that consolidating on these would help to reduce user confusion and make for a more coherent experience for learning Q#.

E.g.:

- Consistent use of terminology (ancilla vs auxiliary, iterative PE versus quantum PE)
- API documentation issues (short summaries, with longer details and mat

[2021-05-29 11:36] GabrieleToffanin commented on #502
I have already done that by managing NuGet package's in my project . The problem have been resolved thanks to a recent update. Thank you for disponibility.

[2021-05-31 07:04] anpaz opened #505 "Shor notebook seems wrong/incomplete"
**Describe the bug**
The [Shor notebook on the integer-factorization sample](https://github.com/microsoft/Quantum/blob/main/samples/algorithms/integer-factorization/Shor.ipynb) seems wrong. The notebook doesn't compile and looks more like a notebook about scrap development notes than something that provides value to users.

[2021-05-31 07:05] anpaz commented on #505
Let me know if we just want to delete it and I can take care of that.

[2021-06-03 18:19] guenp opened #506 "H2 Broombridge file seems incorrect"
**Describe the bug**
@dgwvfxn pointed out that the Broombridge file for Hydrogen included in one of the Chemistry samples contains the incorrect SCF energy: [h2.yaml](https://github.com/microsoft/Quantum/blob/main/samples/chemistry/PythonIntegration/h2.yaml). He has generated a new file that should contain the correct values.

The values for the coulomb repulsion and SCF energy should be:
[code]

[2021-06-12 08:40] Gaurang-Belekar opened #511 "Q# installation issue through dotnet , VS code."
I tried Running Q# with dotnet in VS code. I encounter the error below. I had added the Path variable in bashrc file and installed dotnet sdks and runtimes.

Still there is no output as well when I as echo $DOTNET_ROOT.

/home/gb/.nuget/packages/microsoft.quantum.sdk/0.17.2105144881/Sdk/Sdk.targets(62,5): error MSB3073: The command "dotnet "/home/gb/.nuget/packages/microsoft.quantum.sdk/0.17.21051

[2021-06-13 11:56] #511 closed

[2021-06-14 21:20] #502 closed

[2021-07-09 17:11] msoeken commented on #496
Closed by #499

[2021-07-09 17:11] #496 closed

[2021-07-13 17:29] cgranade commented on #362
Since we weren't able to reproduce this, going to go on and close the issue, but please feel free to re-open or to open a new issue on the https://github.com/microsoft/qsharp-compiler/ repo if you encounter this again. Thank you!

[2021-07-13 17:29] #362 closed

[2021-07-13 17:33] cgranade commented on #505
Ah, that's odd, I don't know how that one happened. I agree, we should go on and just delete this for now until we have a chance to prepare a nicer notebook for Shor.

[2021-07-24 09:21] buseorak commented on #432
Greetings! I would love to work on this issue if it is not assigned to anyone. :)

I have read the requirements above. I have a small question, am I supposed to go through all readme files in the project and find what needs to be updated or should I only update/create those 6 readme files mentioned in the first comment?

Thank you so much in advance!

[2021-08-05 19:21] cgranade commented on #462
@fvirdia: In light of @msoeken's comment above, I'm going to go on and close this issue, but please feel free to re-open if there's anything else we can add to help with your usecase! Thank you!

[2021-08-05 19:21] #462 closed

[2021-08-06 19:49] #505 closed

[2021-08-10 22:10] #506 closed

[2021-08-18 09:10] unnati914 commented on #504
could i work on this issue?

[2021-08-18 09:13] unnati914 commented on #432
hey! Could i work on this issue if its not assigned to anyone?

[2021-08-25 07:58] msoeken commented on #432
@unnati914 Sure, you can work on this issue. I suggest to just open a PR and mention this issue in there. The PR does not need to address all READMEs but even one or some would be great! Thanks for your interest!

[2021-08-25 07:59] msoeken commented on #432
@buseorak Thanks for offering to work on this issue. The 6 READMEs are just an example, but a good way to start. As mentioned above, simply open a PR and link to this issue. The PR can only contain a single or some READMEs. Thanks for your interest!

[2021-09-09 15:25] lfenster opened #546 ""External component has thrown an exception." for SudokuGrover running 4x4-classic"
Running SudokuGroverSample with argument 4x4-classic.  Classic solution runs well and quick.  Tried solving this with quantum,  consistently get:

_System.Runtime.InteropServices.SEHException
  HResult=0x80004005
  Message=External component has thrown an exception.
  Source=Microsoft.Quantum.Simulators
  StackTrace:
   at Microsoft.Quantum.Simulation.Simulators.QuantumSimulator.AllocateOne(UInt32

[2021-09-16 00:43] tcNickolas commented on #546
Yes, this definitely is a memory issue. The sudoku puzzle in this example has 8 missing digits, with 2 bits per digit the algorithm will need 16 qubits to represent the search space alone. With the extra qubits allocated during the execution to check the constraints, one per constraint, the number of qubits used in the oracle implementation is over 50, which is a lot more than the simulator can ha

[2021-09-16 13:49] lfenster commented on #546
Thanks @tcNickolas.  this is what i suspected too.  I wonder if there is an additional way to address some of these kinds of situations.  It occurs to me that the number of starting constraints + number of possible values = size (e.g., 4 for a 4x4, 9 for a 9x9 puzzle) * empty vertices.  So, in the case I outlined above, there are 8 vertices which equate to 32 values all in all; 22 starting number

[2021-09-16 23:37] dfirnhaber opened #553 "Resource estimator for factorization of 2048-bit semi prime integers"
I am trying to run the resource estimator for factoring large integers in a quantum environment. I am under the impression that I can edit IsCoPrimeI to IsCoPrimeL within shor.qs? Having trouble working around INT32 and INT64, please help

[2021-09-17 07:09] msoeken commented on #553
Hi @dfirnhaber. Thanks for your question. You would need to rewrite the whole sample to use `BigInt` instead of `Int` for all variables that are involved the factoring algorithm, e.g., `number`, `modulus`, and `generator`. This might also require to use some alternative arithmetic functions.

If you are interested in rewriting the sample to use `BigInt` instead of `Int` that would be great. Feel f

[2021-09-17 15:11] dfirnhaber commented on #553
I have been working on this project for a couple months with Microsoft azure. They have explained that at this point going forward they won't be able to help. I could use some assistance in making this experiment work. What is your availability Mathias?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mathias Soeken ***@***.***>
Sent: Friday, September 17, 20

[2021-09-23 21:10] dfirnhaber commented on #553
I have managed to edit the shor.qs file which was quite a bit more complicated than explained, but with your instructions i was able to infer the other changes. I am having some final errors show up in Visual Studio 2019. Below is the edited code:
`// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

namespace Microsoft.Quantum.Samples.IntegerFactorization {
    open Microso

[2021-09-27 16:32] ycechungAI commented on #432
its been a month since people replied so i guess i want to work on this issue during HacktoberFest.  I am currently taking an open source development class

[2021-09-27 18:37] ycechungAI commented on #422
I would like to work on this for hacktoberfest  if I can get more info on the various examples
I am looking at the docs on Microsoft https://docs.microsoft.com/en-ca/azure/quantum/user-guide/language/programstructure/
so u want example programs for within, partial application, ajoint, controlled, applytoeach, ... etc
I kind of only understand arrays and math for now in Quantum

[2021-09-28 06:28] msoeken commented on #422
@ycechungAI Thanks for your interest in the issue and your comment. I think it's okay to pick a subset of examples from the issue description. With regard to the non-quantum and more math examples one could get inspiration from [Rosetta Code](http://rosettacode.org/wiki/Category:Programming_Tasks).

[2021-10-06 00:58] lfenster opened #560 "Latest LLVM version for qir/oracle-generator is 14.0. Need to update CMakefile.txt if just following instructions"
**Describe the bug**
Trying to build sample for oracle generator.  Following instructions, the cmake fails with incorrect LLVM version unmber

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the instructions to clone LLVM.  Instructions dont indicate to specifically get version 11.1.0.  Latest version is 14.0, which actually isnt even documented on LLVM site (it states latest is 13)
2.

[2021-10-07 15:23] msoeken commented on #553
Is the whole project code somewhere online (or through Github) to have a complete look into the problems?

For `FactorSemiPrimeInteger`, this may be a typo, as it is called `FactorSemiprimeInteger` in the code above? And I wonder whether you are running into a name clash with `EstimateFrequency` because another operation is defined in `Microsoft.Quantum.Characterization` (see [here](https://docs.m

[2021-10-16 16:17] dfirnhaber commented on #553
I looked back over the code and the FactorSemiprimeInteger is written correctly. From what I am gathering the issues are coming up from the read-only struct int32 and int64 within the program file. I would like to give you access to this project. Is there an easy way? The sub-directories within Microsoft quantum development kit include algorithms/factorization. Within factorization, there are the

[2021-11-16 17:56] msoeken commented on #553
@dfirnhaber There hasn't been an update in a while and therefore I am closing this issue. Please feel free to re-open it, if there are further questions. Thanks again for opening this issue and your helpful comments in this thread.

[2021-11-16 17:56] #553 closed

[2021-11-16 19:42] dfirnhaber commented on #553
I apologize for not responding sooner. I have been working on another stage of this project and have not been able to apply your newest instructions yet.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mathias Soeken ***@***.***>
Sent: Tuesday, November 16, 2021 11:56:57 AM
To: microsoft/Quantum ***@***.***>
Cc: dfirnhaber ***@***.***>; Mention ***@***.***>

[2021-11-17 07:07] msoeken commented on #553
No problem at all. Feel free to re-open this issue, if there are further questions

[2021-11-18 12:43] ltalirz commented on #511
Hey @Gaurang-Belekar , would you mind pointing out what the issue is (also got error code 150)?

Looking at [this](https://stackoverflow.com/questions/60255563/how-to-resolve-error-rzc-discover-exited-with-code-150) I guess it may have to do with the .NET version but it's not clear to me what exactly the problem is.

[2021-11-18 12:47] ltalirz commented on #511
Ok, for others encountering this: the issue is indeed the version of the .NET SDK - Q# currently needs version 3.1 while the default instructions on https://docs.microsoft.com/en-gb/dotnet/core/install/linux-ubuntu#2004- currently install .NET 6.0

[2021-11-19 09:08] Gaurang-Belekar commented on #511
@ltalirz Thank you for the reply.

I switched my work of Q# to other OS diatro(Ubuntu currently) and it works well there.

(Dont remember now which one I was using when I faced the error.)

I had followed the same documents which you have shared and it worked.

[2021-11-19 16:49] cgranade commented on #511
To clarify, when working with Q# for standalone command-line applications, Q# + .NET, or Q# + Python via `pip`, the .NET Core SDK 3.1 is currently required (https://docs.microsoft.com/azure/quantum/install-command-line-qdk#prerequisite). When working with Q# notebooks or Q# + Python from `conda`, no .NET SDK needs to be installed.

[2021-11-22 13:01] vivienlonde opened #577 "Typo in samples / interoperability / python / environment.yml"
A dot is missing in the qsharp package version :

current:
qsharp==0.20.2110171573

should be:
qsharp==0.20.2110.171573

It makes the _conda env create -f environment.yml_ fail.

[2021-11-28 13:29] anooptp commented on #577
@vivienlonde Could you please review the PR #578

[2021-11-29 08:16] #577 closed

[2021-12-02 18:43] tcNickolas commented on #546
I finally had the time to dig into this question, and this optimization alone, while reducing the number of qubits necessary to evaluate the same constraints, doesn't bring it down enough to solve your puzzle. I had to do something cleverer, incorporate this type of constraints into the search space construction (prep of the initial state and the reflection about the mean step) so as to avoid chec

[2021-12-02 18:57] lfenster commented on #546
yes, i tried it out and you are correct  - it doesnt bring it down enough.  I have other ideas (intersections of rows, columns, blocks) but got pulled into other work and havent been able to look at this in a bit.  i plan to try some other thoughts when i get time again

[2021-12-02 18:57] #546 closed

[2021-12-02 19:04] tcNickolas commented on #546
You couldn't have known about the blog post, I've published it less than 12 hours ago :-)

[2021-12-05 14:17] YahiaEltantawy commented on #114
just install **Visual Studio SDK** in **Individual Tap with Visual Studio Installer**

[2021-12-16 17:53] hoanglam102 opened #584 "lo"

[2021-12-16 18:13] #584 closed

[2022-01-31 20:56] ryanhill1 opened #593 "Using nuget restore from .NET 5.0 no longer requires first updating ca-certificates"
[Quantum/Build/images/samples/Dockerfile](https://github.com/microsoft/Quantum/blob/aab95b5f6a7c76928b7bc414863639ccb65cf79e/Build/images/samples/Dockerfile) lines 29-38 update `ca-certificates` package:
[code]
However, after looking through the updates of the [above-linked NuGet issue](https://github.com/NuGet/Announcements/issues/49), it seems that the Debian Family Linux distros that were origi

[2022-02-04 16:37] sayandipdutta opened #602 "Optimization: Remove redundant `list` call in `check_file` in `Build/check_indents.py`"
In the `check_file` function of [`Build/check_indents.py`](https://github.com/microsoft/Quantum/blob/e1b3d7d0109e510508790e5f629799def90311d9/Build/check_indents.py), it is performing a redundant `list` call, on `f.readlines()` which itself returns a `list`, in line [28](https://github.com/microsoft/Quantum/blob/e1b3d7d0109e510508790e5f629799def90311d9/Build/check_indents.py#L28):
[code]
This can

[2022-02-04 16:40] sayandipdutta commented on #602
Would be happy to add a PR, if the above proposal sounds reasonable.

[2022-02-05 01:06] helensolomon opened #603 "PI"
**Describe the bug**AN ENCRYPTION BASED ON YOUR BIRTHDATE AND THE ZODIACAL CYCLE OF ASTRONOMY AND QUANTUM PHYSICS. RELATING STARS TO OUR PERSONALITIES AND CHARACTERISITICS ENCRYPTED AND DECIPHERED
A clear and concise description of what the bug is, and which sample or samples you encountered the bug in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll

[2022-02-05 03:32] #603 closed

[2022-02-23 21:41] kuzminrobin opened #612 "Add Sparse Simulator Samples"
Repo: https://github.com/microsoft/Quantum
Dir: https://github.com/microsoft/Quantum/tree/main/samples

Demo: http://aka.ms/try-qsharp
Consider:
* Sudoku solving with Grover's
* Integer factorization (Shor's algo)
* The samples that tell about simulation. We can add one more cell: "You can also use the SparseSimulator. The SparseSimulator is faster".
  * [Intro to IQ#](https://github.com/microsoft

[2022-02-24 20:11] cgranade commented on #593
Ah, thanks for flagging! We'll go on and remove that mitigation, then. @ricardo-espinoza, should we land this with the rest of .NET 6 support, do you think?

[2022-02-24 20:14] cgranade commented on #602
Thanks for raising this, and for your patience! Would be happy if you'd still be interested in opening a PR!

[2022-02-25 09:17] sayandipdutta commented on #602
Sure, I will add one today.

[2022-03-22 16:23] tcNickolas opened #622 "BayesianPEIsCorrect test fails probabilistically"
**Describe the bug**
[`BayesianPEIsCorrect` test](https://github.com/microsoft/Quantum/blob/8ac8d28959526f7f0f392b27116e8e00fb205d8d/samples/tests/sample-tests/BayesianPETests.qs) fails probabilistically.
Similarly to https://github.com/microsoft/QuantumLibraries/issues/444, we should fix the seed used in the test, or run several tries in a loop and say that the test passes if at least one of the

[2022-03-24 19:35] IsraelMiles opened #624 "This is a test issue for gh-sync"
I have a new suggestion for the Quantum repo!

[2022-03-28 16:22] IsraelMiles commented on #624
Testing again

[2022-03-31 20:14] kuzminrobin opened #639 "Add sparse simulator sample to main"
After this [preliminary PR](https://github.com/microsoft/Quantum/pull/637) lands to the AQ gallery branch (`features/sample-gallery`), cherry-pick the change to `main`.
Also add ReadMe.md and add to the tree the link to ReadMe.

[2022-04-07 00:47] #639 closed

[2022-04-20 14:59] tioberoi opened #657 "Could not load file or assembly 'Microsoft.Quantum.Simulators"
**Describe the bug**
Quantum Simulator not working after azure deployment.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Azure Http Trigger project(API when trigger return simulator result from an optimisation algorithm in this case QAOA ) "using Microsoft.Quantum.Simulation.Simulators". The code works fine on local.
3. Publish this project on Azure
4. The API when called returns

[2022-04-25 19:39] cgranade commented on #657
Thanks for your report, @tioberoi! It looks like there may have been a problem with loading native dependencies used by your application, so let me transfer this to the runtime repo where they can help. Thanks!

[2022-06-10 17:11] wim-van-dam opened #677 "mybinder notebook integer-factorization does not work"
When trying to run the integer-factorization mybinder notebook, the `from Microsoft.Quantum.Samples.IntegerFactorization import FactorSemiprimeInteger` in the first cell gives a `ModuleNotFoundError: No module named 'Microsoft'` error.

To reproduce this error:
1. Go to: [https://aka.ms/try-qsharp](https://aka.ms/try-qsharp)
2. Under Integer factorization, select Q#+ Python to Run in browser; this

[2022-07-27 00:43] tcNickolas commented on #677
I can reproduce this when running this sample locally as a Python script.

I could fix that by adding the following lines

[code]

right after `import iqsharp`. It looks like Python cannot discover the Microsoft.Quantum.Numerics NuGet package when building Q# code? I think Ryan added automatic package load on startup back in fall 2020, which removed the need to do `qsharp.packages.add` manually.

[2022-08-01 23:37] tcNickolas commented on #677
The failure on the first cell should be fixed now with https://github.com/microsoft/Quantum/pull/705.
However, we still won't get a result by running this sample on Binder as is, since host.py assumes it's running from the command line rather than as a Jupyter Notebook, and Binder passes it some arguments that are not recognized, so it throws the following error:

[code]

[2022-08-04 22:54] vanderryan opened #706 "System.OverflowException: Arithmetic operation resulted in an overflow"
**Describe the bug**
Expanded dataset. 14 Training data inputs,14 Validation data inputs. Each data point has 29 features:
	[
        65389,
        80,
        420,
        3,
        etc, etc up to 28 items
    ],
Running with data like this throws:
"Unhandled exception. System.OverflowException: Arithmetic operation resulted in an overflow. at System.Convert.ToInt64(Double value)"
Error bubbles

[2022-08-05 19:50] vanderryan opened #707 "Quantum Random Number Generator not working"
**Describe the bug**
When run by itself, the Quantum Random Number Generator works fine - produces a random number between 0 and #. When incorporated within other QDK code, it does one of three things: it hangs, returns a 0, or returns a 1.

**To Reproduce**
Steps to reproduce the behavior:
Incorporate Quantum Random Number Generator into Quantum Machine Learning code.
dotnet run

**Expected behav

[2022-08-15 19:18] tcNickolas commented on #612
The first bullet on the list is complete, https://github.com/microsoft/Quantum/commit/7aa68811824093d3be663dd81fb58178d3d11697 updated Sudoku solver sample to use sparse simulator instead of the full state simulator.

[2022-09-18 18:41] cgranade commented on #706
Thanks for your report, @vanderryan! It looks like this may be an issue with the QML library, so transferring to the quantumlibraries repo where that can be properly triaged. Thank you!

[2022-09-18 18:42] cgranade commented on #612
@kuzminrobin: Was there any other work that you were suggesting as part of this feature request, or can this be closed? Thank you!

[2022-09-18 18:43] #142 closed

[2022-09-18 20:16] tcNickolas commented on #612
I imagine https://github.com/microsoft/Quantum/pull/713 and its counterpart for IonQ will contribute to this as well, since they'll show up in the gallery.

[2022-09-19 20:59] kuzminrobin commented on #612
@cgranade,
I believe the last bullet item (with 2 sub-bullets) is still TODO (something that can be done).
However the LT is considering making the sparse simulator a default simulator (and fully dropping the full-state simulator). After which the last bullet item will stop being applicable.

[2022-09-19 22:55] tcNickolas commented on #612
Oddly enough, I've found one case on which the sparse simulator was significantly slower than the full state one. If that's of interest, I try to dig up the example at the end of this week. So maybe dropping the full state sim completely is excessive?

[2022-09-19 23:43] kuzminrobin commented on #612
Would be nice to get more details about "significantly slower". We know that one of the perf tests shows that the SS is about 6 times slower than FSS for the case of dense state. Management's opinion is close to "we can live with that".
The deprecation of FSS is caused by the fact that the support burden is high for FSS (from the recent discussion with @bettinaheim).

[2022-09-27 19:41] cgranade commented on #622
At least for fixing the seed, that's unfortunately not currently supported (as per your earlier issue at https://github.com/microsoft/qsharp-runtime/issues/947). In the meantime, adding this to the maintenance backlog to consider your suggestion of looping several times.

[2022-09-29 22:23] cgranade commented on #707
Thanks for your report! Could you provide some more details as to what code you tried to run and what error messages if any that you observed? Thank you!

[2022-09-29 22:28] cgranade commented on #677
Thanks for the report! In general, not all of our CLI-style samples have been converted to notebooks yet; will mark this as an enhancement to track that suggestion.

[2022-09-30 01:44] cgranade commented on #463
Much obliged for the suggestion! I think we're not currently looking into adding boosting to the quantum machine learning library at this time, so I'll go on and close the issue for now, but please feel free to re-open if there's any additional context. Thank you!

[2022-09-30 01:44] #463 closed